<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.epis.dao.BuisnessProjectSchedulingEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.epis.entity.BuisnessProjectSchedulingEO" >
    <id column="id" property="id" />
    <result column="project_id" property="projectId" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
    <result column="create_user" property="createUser" />
    <result column="ware_status" property="wareStatus" />
  </resultMap>

  <!-- BUISNESS_PROJECT_SCHEDULING table all fields -->
  <sql id="Base_Column_List" >
     id, project_id, start_time, end_time, create_time, modify_time, create_user, ware_status
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="projectId != null" >
        and project_id ${projectIdOperator} #{projectId}
      </if>
      <if test="startTime != null" >
        and start_time ${startTimeOperator} #{startTime}
      </if>
      <if test="startTime1 != null" >
        and start_time &gt;= #{startTime1}
      </if>
      <if test="startTime2 != null" >
        and start_time &lt;= #{startTime2}
      </if>
      <if test="endTime != null" >
        and end_time ${endTimeOperator} #{endTime}
      </if>
      <if test="endTime1 != null" >
        and end_time &gt;= #{endTime1}
      </if>
      <if test="endTime2 != null" >
        and end_time &lt;= #{endTime2}
      </if>
      <if test="createTime != null" >
        and create_time ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and create_time &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and create_time &lt;= #{createTime2}
      </if>
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
      <if test="createUser != null" >
        and create_user ${createUserOperator} #{createUser}
      </if>
      <if test="wareStatus != null" >
        and ware_status ${wareStatusOperator} #{wareStatus}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.epis.entity.BuisnessProjectSchedulingEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_BUISNESS_PROJECT_SCHEDULING.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into BUISNESS_PROJECT_SCHEDULING(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{projectId, jdbcType=VARCHAR}, #{startTime, jdbcType=TIMESTAMP}, #{endTime, jdbcType=TIMESTAMP}, #{createTime, jdbcType=TIMESTAMP}, #{modifyTime, jdbcType=TIMESTAMP}, #{createUser, jdbcType=VARCHAR}, #{wareStatus, jdbcType=INTEGER})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.epis.entity.BuisnessProjectSchedulingEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_BUISNESS_PROJECT_SCHEDULING.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into BUISNESS_PROJECT_SCHEDULING
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="projectId != null" >project_id,</if>
                <if test="startTime != null" >start_time,</if>
                <if test="endTime != null" >end_time,</if>
                <if test="createTime != null" >create_time,</if>
                <if test="modifyTime != null" >modify_time,</if>
                <if test="createUser != null" >create_user,</if>
                <if test="wareStatus != null" >ware_status,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="projectId != null" >#{projectId, jdbcType=VARCHAR},</if>
                <if test="startTime != null" >#{startTime, jdbcType=TIMESTAMP},</if>
                <if test="endTime != null" >#{endTime, jdbcType=TIMESTAMP},</if>
                <if test="createTime != null" >#{createTime, jdbcType=TIMESTAMP},</if>
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="createUser != null" >#{createUser, jdbcType=VARCHAR},</if>
                <if test="wareStatus != null" >#{wareStatus, jdbcType=INTEGER},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.epis.entity.BuisnessProjectSchedulingEO" >
    update BUISNESS_PROJECT_SCHEDULING
       set  project_id = #{projectId},
            start_time = #{startTime},
            end_time = #{endTime},
            create_time = #{createTime},
            modify_time = #{modifyTime},
            create_user = #{createUser},
            ware_status = #{wareStatus}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.epis.entity.BuisnessProjectSchedulingEO" >
    update BUISNESS_PROJECT_SCHEDULING
    <set >
      <if test="projectId != null" >
        project_id = #{projectId},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser},
      </if>
      <if test="wareStatus != null" >
        ware_status = #{wareStatus},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 BUISNESS_PROJECT_SCHEDULING -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from BUISNESS_PROJECT_SCHEDULING
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BUISNESS_PROJECT_SCHEDULING
     where id = #{value}

  </delete>

  <!-- BUISNESS_PROJECT_SCHEDULING 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from BUISNESS_PROJECT_SCHEDULING
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询BUISNESS_PROJECT_SCHEDULING列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from BUISNESS_PROJECT_SCHEDULING
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from BUISNESS_PROJECT_SCHEDULING
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
