<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.epis.dao.BuisnessIncomeSpeedingEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.epis.entity.BuisnessIncomeSpeedingEO" >
    <result column="id" property="id" />
    <result column="income_contact_id" property="incomeContactId" />
    <result column="speeding_contract_id" property="speedingContractId" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
    <result column="create_user" property="createUser" />
  </resultMap>

  <!-- BUISNESS_INCOME_SPEEDING table all fields -->
  <sql id="Base_Column_List" >
     id, income_contact_id, speeding_contract_id, create_time, modify_time, create_user
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="incomeContactId != null" >
        and income_contact_id ${incomeContactIdOperator} #{incomeContactId}
      </if>
      <if test="speedingContractId != null" >
        and speeding_contract_id ${speedingContractIdOperator} #{speedingContractId}
      </if>
      <if test="createTime != null" >
        and create_time ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and create_time &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and create_time &lt;= #{createTime2}
      </if>
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
      <if test="createUser != null" >
        and create_user ${createUserOperator} #{createUser}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.epis.entity.BuisnessIncomeSpeedingEO" >
    insert into BUISNESS_INCOME_SPEEDING(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{incomeContactId, jdbcType=VARCHAR}, #{speedingContractId, jdbcType=VARCHAR}, #{createTime, jdbcType=TIMESTAMP}, #{modifyTime, jdbcType=TIMESTAMP}, #{createUser, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.epis.entity.BuisnessIncomeSpeedingEO" >
        insert into BUISNESS_INCOME_SPEEDING
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="incomeContactId != null" >income_contact_id,</if>
                <if test="speedingContractId != null" >speeding_contract_id,</if>
                <if test="createTime != null" >create_time,</if>
                <if test="modifyTime != null" >modify_time,</if>
                <if test="createUser != null" >create_user,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="incomeContactId != null" >#{incomeContactId, jdbcType=VARCHAR},</if>
                <if test="speedingContractId != null" >#{speedingContractId, jdbcType=VARCHAR},</if>
                <if test="createTime != null" >#{createTime, jdbcType=TIMESTAMP},</if>
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="createUser != null" >#{createUser, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- BUISNESS_INCOME_SPEEDING 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from BUISNESS_INCOME_SPEEDING
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询BUISNESS_INCOME_SPEEDING列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from BUISNESS_INCOME_SPEEDING
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from BUISNESS_INCOME_SPEEDING
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
