<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.dashboard.dao.ProvinceAreaEODao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.adc.da.dashboard.entity.ProvinceAreaEO">
        <id column="id" property="id"/>
        <result column="province" property="province"/>
        <result column="area" property="area"/>
    </resultMap>

    <!-- DB_PROVINCE_AREA table all fields -->
    <sql id="Base_Column_List">
     id, province, area
  </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id ${idOperator} #{id}
            </if>
            <if test="province != null">
                and province ${provinceOperator} #{province}
            </if>
            <if test="area != null">
                and area ${areaOperator} #{area}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="com.adc.da.dashboard.entity.ProvinceAreaEO">
        <!-- <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
            SELECT SEQ_DB_PROVINCE_AREA.NEXTVAL FROM DUAL
        </selectKey> -->
        insert into DB_PROVINCE_AREA(<include refid="Base_Column_List"/>)
        values (#{id, jdbcType=INTEGER}, #{province, jdbcType=VARCHAR}, #{area, jdbcType=VARCHAR})
    </insert>

    <!-- 动态插入记录 主键是序列 -->
    <insert id="insertSelective" parameterType="com.adc.da.dashboard.entity.ProvinceAreaEO">
        <!-- <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
        SELECT SEQ_DB_PROVINCE_AREA.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into DB_PROVINCE_AREA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="province != null">province,</if>
            <if test="area != null">area,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=INTEGER},</if>
            <if test="province != null">#{province, jdbcType=VARCHAR},</if>
            <if test="area != null">#{area, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!-- 根据pk，修改记录-->
    <update id="updateByPrimaryKey" parameterType="com.adc.da.dashboard.entity.ProvinceAreaEO">
    update DB_PROVINCE_AREA
       set  province = #{province},
            area = #{area}
     where  id = #{id}
  </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.dashboard.entity.ProvinceAreaEO">
        update DB_PROVINCE_AREA
        <set>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据id查询 DB_PROVINCE_AREA -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from DB_PROVINCE_AREA
        where id = #{value}

    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DB_PROVINCE_AREA
     where id = #{value}

  </delete>

    <!-- DB_PROVINCE_AREA 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
        select count(1) from DB_PROVINCE_AREA
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询DB_PROVINCE_AREA列表 -->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_List"/>
        from
        (select tmp_tb.* , rownum rn from
        (select
        <include refid="Base_Column_List"/>
        from DB_PROVINCE_AREA
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        ) tmp_tb where rownum &lt;= ${pager.endIndex})
        where rn &gt;= ${pager.startIndex}
    </select>

    <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_List"/>
        from DB_PROVINCE_AREA
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
    </select>

    <select id="queryAllByList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from DB_PROVINCE_AREA
    </select>

    <select id="queryOneByProvince" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from DB_PROVINCE_AREA
        where province = #{province}
    </select>


</mapper>
