<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.config.dao.FundDetailsEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.research.config.entity.FundDetailsEO" >
    <id column="id" property="id" />
    <result column="del_flag" property="delFlag" />
    <result column="ext1" property="ext1" />
    <result column="ext2" property="ext2" />
    <result column="ext3" property="ext3" />
    <result column="ext4" property="ext4" />
    <result column="ext5" property="ext5" />
    <result column="budget_account_name" property="budgetAccountName" />
    <result column="capped_budget" property="cappedBudget" />
    <result column="modified_flag" property="modifiedFlag" />
    <result column="allow_transfer_fund" property="allowTransferFund" />
    <result column="fund_rules_id" property="fundRulesId" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_user_name" property="createUserName" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
      <result column="parent_id" property="parentId" />
      <result column="sort" property="sort" />
  </resultMap>

  <!-- RS_FUND_DETAILS table all fields -->
  <sql id="Base_Column_List" >
     del_flag, ext1, ext2, ext3, ext4, ext5, id, budget_account_name, capped_budget, modified_flag,
     allow_transfer_fund, fund_rules_id, create_user_id, create_user_name, create_time, modify_time,parent_id,sort
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >

        and del_flag =0

      <if test="ext1 != null" >
        and ext1 ${ext1Operator} #{ext1}
      </if>
      <if test="ext2 != null" >
        and ext2 ${ext2Operator} #{ext2}
      </if>
      <if test="ext3 != null" >
        and ext3 ${ext3Operator} #{ext3}
      </if>
      <if test="ext4 != null" >
        and ext4 ${ext4Operator} #{ext4}
      </if>
      <if test="ext5 != null" >
        and ext5 ${ext5Operator} #{ext5}
      </if>
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="budgetAccountName != null" >
        and budget_account_name ${budgetAccountNameOperator} #{budgetAccountName}
      </if>
      <if test="cappedBudget != null" >
        and capped_budget ${cappedBudgetOperator} #{cappedBudget}
      </if>
      <if test="modifiedFlag != null" >
        and modified_flag ${modifiedFlagOperator} #{modifiedFlag}
      </if>
      <if test="allowTransferFund != null" >
        and allow_transfer_fund ${allowTransferFundOperator} #{allowTransferFund}
      </if>
      <if test="fundRulesId != null" >
        and fund_rules_id ${fundRulesIdOperator} #{fundRulesId}
      </if>
      <if test="createUserId != null" >
        and create_user_id ${createUserIdOperator} #{createUserId}
      </if>
      <if test="createUserName != null" >
        and create_user_name ${createUserNameOperator} #{createUserName}
      </if>
      <if test="createTime != null" >
        and create_time ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and create_time &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and create_time &lt;= #{createTime2}
      </if>
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
        <if test="parentId != null" >
            and parent_id &lt;= #{parentId}
        </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.research.config.entity.FundDetailsEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_FUND_DETAILS.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into RS_FUND_DETAILS(<include refid="Base_Column_List" />)
    values (#{delFlag, jdbcType=INTEGER}, #{ext1, jdbcType=VARCHAR}, #{ext2, jdbcType=VARCHAR},
      #{ext3, jdbcType=VARCHAR}, #{ext4, jdbcType=VARCHAR}, #{ext5, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR},
      #{budgetAccountName, jdbcType=VARCHAR}, #{cappedBudget, jdbcType=DOUBLE}, #{modifiedFlag, jdbcType=INTEGER},
      #{allowTransferFund, jdbcType=DOUBLE}, #{fundRulesId, jdbcType=VARCHAR}, #{createUserId, jdbcType=VARCHAR},
      #{createUserName, jdbcType=VARCHAR}, #{createTime, jdbcType=TIMESTAMP},
      #{modifyTime, jdbcType=TIMESTAMP},#{parentId, jdbcType=VARCHAR},#{sort, jdbcType=INTEGER})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.research.config.entity.FundDetailsEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_FUND_DETAILS.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into RS_FUND_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="delFlag != null" >del_flag,</if>
                <if test="ext1 != null" >ext1,</if>
                <if test="ext2 != null" >ext2,</if>
                <if test="ext3 != null" >ext3,</if>
                <if test="ext4 != null" >ext4,</if>
                <if test="ext5 != null" >ext5,</if>
                <if test="id != null" >id,</if>
                <if test="budgetAccountName != null" >budget_account_name,</if>
                <if test="cappedBudget != null" >capped_budget,</if>
                <if test="modifiedFlag != null" >modified_flag,</if>
                <if test="allowTransferFund != null" >allow_transfer_fund,</if>
                <if test="fundRulesId != null" >fund_rules_id,</if>
                <if test="createUserId != null" >create_user_id,</if>
                <if test="createUserName != null" >create_user_name,</if>
                <if test="createTime != null" >create_time,</if>
                <if test="modifyTime != null" >modify_time,</if>
                <if test="parentId != null" >parent_id,</if>
                <if test="sort != null" >sort,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="delFlag != null" >#{delFlag, jdbcType=INTEGER},</if>
                <if test="ext1 != null" >#{ext1, jdbcType=VARCHAR},</if>
                <if test="ext2 != null" >#{ext2, jdbcType=VARCHAR},</if>
                <if test="ext3 != null" >#{ext3, jdbcType=VARCHAR},</if>
                <if test="ext4 != null" >#{ext4, jdbcType=VARCHAR},</if>
                <if test="ext5 != null" >#{ext5, jdbcType=VARCHAR},</if>
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="budgetAccountName != null" >#{budgetAccountName, jdbcType=VARCHAR},</if>
                <if test="cappedBudget != null" >#{cappedBudget, jdbcType=DOUBLE},</if>
                <if test="modifiedFlag != null" >#{modifiedFlag, jdbcType=INTEGER},</if>
                <if test="allowTransferFund != null" >#{allowTransferFund, jdbcType=DOUBLE},</if>
                <if test="fundRulesId != null" >#{fundRulesId, jdbcType=VARCHAR},</if>
                <if test="createUserId != null" >#{createUserId, jdbcType=VARCHAR},</if>
                <if test="createUserName != null" >#{createUserName, jdbcType=VARCHAR},</if>
                <if test="createTime != null" >#{createTime, jdbcType=TIMESTAMP},</if>
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="parentId != null" >#{parentId, jdbcType=VARCHAR},</if>
                <if test="sort != null" >#{sort, jdbcType=INTEGER},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.research.config.entity.FundDetailsEO" >
    update RS_FUND_DETAILS
       set  del_flag = #{delFlag},
            ext1 = #{ext1},
            ext2 = #{ext2},
            ext3 = #{ext3},
            ext4 = #{ext4},
            ext5 = #{ext5},
            budget_account_name = #{budgetAccountName},
            capped_budget = #{cappedBudget},
            modified_flag = #{modifiedFlag},
            allow_transfer_fund = #{allowTransferFund},
            fund_rules_id = #{fundRulesId},
            create_user_id = #{createUserId},
            create_user_name = #{createUserName},
            create_time = #{createTime},
            modify_time = #{modifyTime}
            parent_id = #{parentId},
            sort = #{sort}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.research.config.entity.FundDetailsEO" >
    update RS_FUND_DETAILS
    <set >
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5},
      </if>
      <if test="budgetAccountName != null" >
        budget_account_name = #{budgetAccountName},
      </if>
      <if test="cappedBudget != null" >
        capped_budget = #{cappedBudget},
      </if>
      <if test="modifiedFlag != null" >
        modified_flag = #{modifiedFlag},
      </if>
      <if test="allowTransferFund != null" >
        allow_transfer_fund = #{allowTransferFund},
      </if>
      <if test="fundRulesId != null" >
        fund_rules_id = #{fundRulesId},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
        <if test="parentId != null" >
            parent_id = #{parentId},
        </if>
        <if test="sort != null" >
            sort = #{sort},
        </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 RS_FUND_DETAILS -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from RS_FUND_DETAILS
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RS_FUND_DETAILS
     where id = #{value}

  </delete>

  <!-- RS_FUND_DETAILS 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from RS_FUND_DETAILS
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询RS_FUND_DETAILS列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from RS_FUND_DETAILS
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from RS_FUND_DETAILS
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

    <!--批量新增-->
    <insert id = "batchInsertSelective">
        INSERT ALL
        <foreach collection = "fundDetailsEOS" item = "item" index = "index">
            <if test = "item.id != null">
                into RS_FUND_DETAILS
                <trim prefix="(" suffix=")" suffixOverrides="," >
                    <if test="item.delFlag != null" >del_flag,</if>
                    <if test="item.ext1 != null" >ext1,</if>
                    <if test="item.ext2 != null" >ext2,</if>
                    <if test="item.ext3 != null" >ext3,</if>
                    <if test="item.ext4 != null" >ext4,</if>
                    <if test="item.ext5 != null" >ext5,</if>
                    <if test="item.id != null" >id,</if>
                    <if test="item.budgetAccountName != null" >budget_account_name,</if>
                    <if test="item.cappedBudget != null" >capped_budget,</if>
                    <if test="item.modifiedFlag != null" >modified_flag,</if>
                    <if test="item.allowTransferFund != null" >allow_transfer_fund,</if>
                    <if test="item.fundRulesId != null" >fund_rules_id,</if>
                    <if test="item.createUserId != null" >create_user_id,</if>
                    <if test="item.createUserName != null" >create_user_name,</if>
                    <if test="item.createTime != null" >create_time,</if>
                    <if test="item.modifyTime != null" >modify_time,</if>
                    <if test="item.parentId != null" >parent_id,</if>
                    <if test="item.sort != null" >sort,</if>
                </trim>
                <trim prefix="values (" suffix=")" suffixOverrides="," >
                    <if test="item.delFlag != null" >#{item.delFlag, jdbcType=INTEGER},</if>
                    <if test="item.ext1 != null" >#{item.ext1, jdbcType=VARCHAR},</if>
                    <if test="item.ext2 != null" >#{item.ext2, jdbcType=VARCHAR},</if>
                    <if test="item.ext3 != null" >#{item.ext3, jdbcType=VARCHAR},</if>
                    <if test="item.ext4 != null" >#{item.ext4, jdbcType=VARCHAR},</if>
                    <if test="item.ext5 != null" >#{item.ext5, jdbcType=VARCHAR},</if>
                    <if test="item.id != null" >#{item.id, jdbcType=VARCHAR},</if>
                    <if test="item.budgetAccountName != null" >#{item.budgetAccountName, jdbcType=VARCHAR},</if>
                    <if test="item.cappedBudget != null" >#{item.cappedBudget, jdbcType=DOUBLE},</if>
                    <if test="item.modifiedFlag != null" >#{item.modifiedFlag, jdbcType=INTEGER},</if>
                    <if test="item.allowTransferFund != null" >#{item.allowTransferFund, jdbcType=DOUBLE},</if>
                    <if test="item.fundRulesId != null" >#{item.fundRulesId, jdbcType=VARCHAR},</if>
                    <if test="item.createUserId != null" >#{item.createUserId, jdbcType=VARCHAR},</if>
                    <if test="item.createUserName != null" >#{item.createUserName, jdbcType=VARCHAR},</if>
                    <if test="item.createTime != null" >#{item.createTime, jdbcType=TIMESTAMP},</if>
                    <if test="item.modifyTime != null" >#{item.modifyTime, jdbcType=TIMESTAMP},</if>
                    <if test="item.parentId != null" >#{item.parentId, jdbcType=VARCHAR},</if>
                    <if test="item.sort != null" >#{item.sort, jdbcType=INTEGER},</if>
                </trim>
            </if>
        </foreach>
        SELECT 1 FROM dual
    </insert>

    <!--批量删除-->
    <update id="deleteByFundRuleIds" parameterType="java.util.List">
        update RS_FUND_DETAILS set del_flag = 1 where fund_rules_id in
        <foreach collection="fundRulesIds" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
    </update>

</mapper>
