<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.config.dao.GradeRulesInfoDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.research.config.entity.GradeRulesInfoEO" >
    <id column="ID" property="gradingRulesId" />
    <result column="RATING_RULES_NAME" property="ratingRulesName" />
    <result column="GRADING_NAME" property="gradingName" />
    <result column="LOWEST_SCORE" property="lowestScore" />
    <result column="CAPPED_POINTS" property="cappedPoints" />
    <result column="RATING_RULES_ID" property="ratingRulesId" />
  </resultMap>


  <!--根据id查询单条信息-->
  <select id="selectById" resultMap="BaseResultMap">
      select A.RATING_RULES_NAME, B.ID, B.GRADING_NAME, B.LOWEST_SCORE, B.CAPPED_POINTS, B.RATING_RULES_ID
      from RS_RATING_RULES A join RS_GRADING_RULES B on A.ID = B.RATING_RULES_ID
      where A.ID = #{id}
      and B.DEL_FLAG =0
      order by sort
  </select>



</mapper>
