<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.funds.dao.ProjectExpendEODao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.adc.da.research.funds.entity.ProjectExpendEO">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="project_code" property="projectCode"/>
        <result column="dept_id" property="deptId"/>
        <result column="subject_name" property="subjectName"/>
        <result column="voucher_number" property="voucherNumber"/>
        <result column="expend_amount" property="expendAmount"/>
        <result column="expend_date" property="expendDate"/>
        <result column="summary" property="summary"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="ext1" property="ext1"/>
        <result column="ext2" property="ext2"/>
        <result column="ext3" property="ext3"/>
        <result column="ext4" property="ext4"/>
        <result column="ext5" property="ext5"/>
        <result column="expend_type" property="expendType"/>
    </resultMap>

    <resultMap id="BaseResultAllMap" type="com.adc.da.research.funds.entity.ProjectExpendEO">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="project_code" property="projectCode"/>
        <result column="dept_id" property="deptId"/>
        <result column="subject_name" property="subjectName"/>
        <result column="voucher_number" property="voucherNumber"/>
        <result column="expend_amount" property="expendAmount"/>
        <result column="expend_date" property="expendDate"/>
        <result column="summary" property="summary"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="ext1" property="ext1"/>
        <result column="ext2" property="ext2"/>
        <result column="ext3" property="ext3"/>
        <result column="ext4" property="ext4"/>
        <result column="ext5" property="ext5"/>
        <result column="project_name" property="projectName"/>
        <result column="org_name" property="deptName"/>
        <result column="PARENT_NAME" property="parentName"/>
        <result column="expend_type" property="expendType"/>
    </resultMap>

    <!-- RS_PROJECT_EXPEND table all fields -->
    <sql id="Base_Column_List">
     id, project_id, project_code, dept_id, subject_name, voucher_number, expend_amount, expend_date, summary
     , create_user_id, create_user_name, create_time, modify_time, del_flag, ext1, ext2, ext3, ext4, ext5, expend_type
  </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1 AND (RPE.DEL_FLAG=0 OR RPE.DEL_FLAG =0)
        <trim suffixOverrides=",">
            <if test="expendDateBegin != null and expendDateBegin!=''">
                and to_char(RPE.expend_date,'yyyy-mm-dd') &gt;= #{expendDateBegin}
            </if>
            <if test="expendDateEnd != null and expendDateEnd !=''">
                and to_char(RPE.expend_date,'yyyy-mm-dd') &lt;= #{expendDateEnd}
            </if>
            <if test="expendAmountBegin !=null and expendAmountBegin!=''">
                and RPE.expend_amount <![CDATA[>=]]> #{expendAmountBegin}
            </if>
            <if test="expendAmountEnd !=null and expendAmountEnd!=''">
                and RPE.expend_amount <![CDATA[<=]]> #{expendAmountEnd}
            </if>
            <if test="expendType!=null and expendType!=''">
                and RPE.expend_type = #{expendType}
            </if>
            <if test="id != null and id !=''">
                and RPE.id ${idOperator} #{id}
            </if>
            <if test="projectId != null and projectId !=''">
                and project_id ${projectIdOperator} #{projectId}
            </if>
            <if test="projectCode != null and projectCode !=''">
                and project_code ${projectCodeOperator} #{projectCode}
            </if>
            <if test="deptId != null and deptId !=''">
                and dept_id ${deptIdOperator} #{deptId}
            </if>
            <if test="subjectName != null and subjectName !=''">
                and subject_name ${subjectNameOperator} #{subjectName}
            </if>
            <if test="voucherNumber != null and voucherNumber !=''">
                and voucher_number ${voucherNumberOperator} #{voucherNumber}
            </if>
            <if test="expendAmount != null and expendAmount !=''">
                and expend_amount ${expendAmountOperator} #{expendAmount}
            </if>
            <if test="expendDate != null and expendDate !=''">
                and expend_date ${expendDateOperator} #{expendDate}
            </if>
            <if test="expendDate1 != null and expendDate1 !=''">
                and expend_date &gt;= #{expendDate1}
            </if>
            <if test="expendDate2 != null and expendDate2 !=''">
                and expend_date &lt;= #{expendDate2}
            </if>
            <if test="summary != null and summary !=''">
                and summary ${summaryOperator} #{summary}
            </if>
            <if test="createUserId != null and createUserId !=''">
                and create_user_id ${createUserIdOperator} #{createUserId}
            </if>
            <if test="createUserName != null and createUserName!=''">
                and create_user_name ${createUserNameOperator} #{createUserName}
            </if>
            <if test="createTime != null and createTime !=null">
                and create_time ${createTimeOperator} #{createTime}
            </if>
            <if test="createTime1 != null and createTime1 !=null">
                and create_time &gt;= #{createTime1}
            </if>
            <if test="createTime2 != null and createTime2 !=null">
                and create_time &lt;= #{createTime2}
            </if>
            <if test="modifyTime != null and modifyTime !=''">
                and modify_time ${modifyTimeOperator} #{modifyTime}
            </if>
            <if test="modifyTime1 != null and modifyTime1 !=''">
                and modify_time &gt;= #{modifyTime1}
            </if>
            <if test="modifyTime2 != null and modifyTime2 !=''">
                and modify_time &lt;= #{modifyTime2}
            </if>
            <if test="delFlag != null and delFlag !=''">
                and del_flag ${delFlagOperator} #{delFlag}
            </if>
            <if test="ext1 != null and ext1 !=''">
                and ext1 ${ext1Operator} #{ext1}
            </if>
            <if test="ext2 != null and ext2 !=''">
                and ext2 ${ext2Operator} #{ext2}
            </if>
            <if test="ext3 != null and ext3 !=''">
                and ext3 ${ext3Operator} #{ext3}
            </if>
            <if test="ext4 != null and ext4 !=''">
                and ext4 ${ext4Operator} #{ext4}
            </if>
            <if test="ext5 != null and ext5 !=''">
                and ext5 ${ext5Operator} #{ext5}
            </if>
        </trim>
    </sql>


    <!--查询条件（多表）-->

    <sql id="Base_Where_Clause_New">
        where RPE.DEL_FLAG=0
        <trim suffixOverrides=",">
            <if test="expendTypeNotState!=null and expendTypeNotState !=''">
                and RPE.expend_type != '国拨'
            </if>
            <if test="expendDateBegin != null and expendDateBegin!=''">
                and to_char(RPE.expend_date,'yyyy-mm-dd') &gt;= #{expendDateBegin}
            </if>
            <if test="expendDateEnd != null and expendDateEnd !=''">
                and to_char(RPE.expend_date,'yyyy-mm-dd') &lt;= #{expendDateEnd}
            </if>
            <if test="expendAmountBegin !=null and expendAmountBegin !=''">
                and RPE.expend_amount <![CDATA[>=]]> #{expendAmountBegin}
            </if>
            <if test="expendAmountEnd !=null and expendAmountEnd !=''">
                and RPE.expend_amount <![CDATA[<=]]> #{expendAmountEnd}
            </if>
            <if test="expendType!=null and expendType!= ''">
                and RPE.expend_type = #{expendType}
            </if>
            <if test="id != null and id !=''">
                and RPE.id ${idOperator} #{id}
            </if>
            <if test="projectId != null and projectId !=''">
                and RPE.project_id ${projectIdOperator} #{projectId}
            </if>
            <if test="projectCode != null and projectCode!=''">
                and RPE.project_code like CONCAT('%',CONCAT( #{projectCode},'%'))
            </if>

            <if test="projectName != null and projectName !=''">
                and project_name like CONCAT('%',CONCAT( #{projectName},'%'))
            </if>

            <if test="parentName != null and parentName !=''">
                and TSO1.ORG_NAME like CONCAT('%',CONCAT( #{parentName},'%'))
            </if>

            <if test="deptName != null and deptName !=''">
                and TSO.ORG_NAME like CONCAT('%',CONCAT( #{deptName},'%'))
            </if>

            <if test="deptId != null and deptId !=''">
                and RPE.dept_id ${deptIdOperator} #{deptId}
            </if>
            <if test="subjectName != null and subjectName!=''">
                and RPE.subject_name ${subjectNameOperator} #{subjectName}
            </if>
            <if test="voucherNumber != null and voucherNumber !=''">
                and RPE.voucher_number like CONCAT('%',CONCAT( #{voucherNumber},'%'))
            </if>
            <if test="expendAmount != null and expendAmount !=''">
                and RPE.expend_amount ${expendAmountOperator} #{expendAmount}
            </if>
            <if test="expendDate != null and expendDate !=''">
                and to_char(RPE.expend_date,'yyyy-mm-dd') ${expendDateOperator} #{expendDate}
            </if>
            <if test="expendDate1 != null and expendDate1 !=''">
                and to_char(RPE.expend_date,'yyyy-mm-dd') &gt;= #{expendDate1}
            </if>
            <if test="expendDate2 != null and expendDate2 !=''">
                and to_char(RPE.expend_date,'yyyy-mm-dd') &lt;= #{expendDate2}
            </if>
            <if test="summary != null and summary !=''">
                and RPE.summary ${summaryOperator} #{summary}
            </if>
            <if test="createUserId != null and createUserId!=''">
                and RPD.technical_director LIKE CONCAT('%',CONCAT(#{createUserId},'%'))
            </if>
            <if test="createUserName != null and createUserName!=''">
                and RPE.create_user_name ${createUserNameOperator} #{createUserName}
            </if>
            <if test="createTime != null and createTime !=''">
                and RPE.create_time ${createTimeOperator} #{createTime}
            </if>
            <if test="createTime1 != null and createTime1 !=''">
                and RPE.create_time &gt;= #{createTime1}
            </if>
            <if test="createTime2 != null and createTime2 !=''">
                and RPE.create_time &lt;= #{createTime2}
            </if>
            <if test="modifyTime != null and modifyTime !=''">
                and RPE.modify_time ${modifyTimeOperator} #{modifyTime}
            </if>
            <if test="modifyTime1 != null and modifyTime1 !=''">
                and RPE.modify_time &gt;= #{modifyTime1}
            </if>
            <if test="modifyTime2 != null and modifyTime2 !=''">
                and RPE.modify_time &lt;= #{modifyTime2}
            </if>
            <if test="delFlag != null and delFlag!=''">
                and RPE.del_flag ${delFlagOperator} #{delFlag}
            </if>
            <if test="ext1 != null and ext1 !=null">
                and RPE.ext1 ${ext1Operator} #{ext1}
            </if>
            <if test="ext2 != null and ext2 !=null">
                and RPE.ext2 ${ext2Operator} #{ext2}
            </if>
            <if test="ext3 != null and ext3 !=null">
                and RPE.ext3 ${ext3Operator} #{ext3}
            </if>
            <if test="ext4 != null and ext4 !=null">
                and RPE.ext4 ${ext4Operator} #{ext4}
            </if>
            <if test="ext5 != null and ext5 !=null">
                and RPE.ext5 ${ext5Operator} #{ext5}
            </if>
        </trim>
    </sql>
    <!-- 插入记录 -->
    <insert id="insert" parameterType="com.adc.da.research.funds.entity.ProjectExpendEO">
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            SELECT SEQ_RS_PROJECT_EXPEND.NEXTVAL FROM DUAL
        </selectKey> -->
        insert into RS_PROJECT_EXPEND(<include refid="Base_Column_List"/>)
        values (#{id, jdbcType=VARCHAR}, #{projectId, jdbcType=VARCHAR}, #{projectCode, jdbcType=VARCHAR},
        #{deptId, jdbcType=VARCHAR}, #{subjectName, jdbcType=VARCHAR}, #{voucherNumber, jdbcType=VARCHAR},
        #{expendAmount, jdbcType=DOUBLE}, #{expendDate, jdbcType=TIMESTAMP}, #{summary, jdbcType=VARCHAR},
        #{createUserId, jdbcType=VARCHAR}, #{createUserName, jdbcType=VARCHAR}, #{createTime, jdbcType=TIMESTAMP},
        #{modifyTime, jdbcType=TIMESTAMP}, #{delFlag, jdbcType=INTEGER}, #{ext1, jdbcType=VARCHAR},
        #{ext2, jdbcType=VARCHAR}, #{ext3, jdbcType=VARCHAR}, #{ext4, jdbcType=VARCHAR}, #{ext5, jdbcType=VARCHAR}
        ,#{expendType,jdbcType=VARCHAR})
    </insert>

    <!-- 动态插入记录 主键是序列 -->
    <insert id="insertSelective" parameterType="com.adc.da.research.funds.entity.ProjectExpendEO">
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_PROJECT_EXPEND.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into RS_PROJECT_EXPEND
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="projectCode != null">project_code,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="subjectName != null">subject_name,</if>
            <if test="voucherNumber != null">voucher_number,</if>
            <if test="expendAmount != null">expend_amount,</if>
            <if test="expendDate != null">expend_date,</if>
            <if test="summary != null">summary,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="ext1 != null">ext1,</if>
            <if test="ext2 != null">ext2,</if>
            <if test="ext3 != null">ext3,</if>
            <if test="ext4 != null">ext4,</if>
            <if test="ext5 != null">ext5,</if>
            <if test="expendType ！= null">expend_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=VARCHAR},</if>
            <if test="projectId != null">#{projectId, jdbcType=VARCHAR},</if>
            <if test="projectCode != null">#{projectCode, jdbcType=VARCHAR},</if>
            <if test="deptId != null">#{deptId, jdbcType=VARCHAR},</if>
            <if test="subjectName != null">#{subjectName, jdbcType=VARCHAR},</if>
            <if test="voucherNumber != null">#{voucherNumber, jdbcType=VARCHAR},</if>
            <if test="expendAmount != null">#{expendAmount, jdbcType=DOUBLE},</if>
            <if test="expendDate != null">#{expendDate, jdbcType=TIMESTAMP},</if>
            <if test="summary != null">#{summary, jdbcType=VARCHAR},</if>
            <if test="createUserId != null">#{createUserId, jdbcType=VARCHAR},</if>
            <if test="createUserName != null">#{createUserName, jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime, jdbcType=TIMESTAMP},</if>
            <if test="modifyTime != null">#{modifyTime, jdbcType=TIMESTAMP},</if>
            <if test="delFlag != null">#{delFlag, jdbcType=INTEGER},</if>
            <if test="ext1 != null">#{ext1, jdbcType=VARCHAR},</if>
            <if test="ext2 != null">#{ext2, jdbcType=VARCHAR},</if>
            <if test="ext3 != null">#{ext3, jdbcType=VARCHAR},</if>
            <if test="ext4 != null">#{ext4, jdbcType=VARCHAR},</if>
            <if test="ext5 != null">#{ext5, jdbcType=VARCHAR},</if>
            <if test="expendType != null">#{expendType, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!-- 根据pk，修改记录-->
    <update id="updateByPrimaryKey" parameterType="com.adc.da.research.funds.entity.ProjectExpendEO">
    update RS_PROJECT_EXPEND
       set  project_id = #{projectId},
            project_code = #{projectCode},
            dept_id = #{deptId},
            subject_name = #{subjectName},
            voucher_number = #{voucherNumber},
            expend_amount = #{expendAmount},
            expend_date = #{expendDate},
            summary = #{summary},
            create_user_id = #{createUserId},
            create_user_name = #{createUserName},
            create_time = #{createTime},
            modify_time = #{modifyTime},
            del_flag = #{delFlag},
            ext1 = #{ext1},
            ext2 = #{ext2},
            ext3 = #{ext3},
            ext4 = #{ext4},
            ext5 = #{ext5},
            expend_type= #{expendType}
     where  id = #{id}
  </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.research.funds.entity.ProjectExpendEO">
        update RS_PROJECT_EXPEND
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="projectCode != null">
                project_code = #{projectCode},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="subjectName != null">
                subject_name = #{subjectName},
            </if>
            <if test="voucherNumber != null">
                voucher_number = #{voucherNumber},
            </if>
            <if test="expendAmount != null">
                expend_amount = #{expendAmount},
            </if>
            <if test="expendDate != null">
                expend_date = #{expendDate},
            </if>
            <if test="summary != null">
                summary = #{summary},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="createUserName != null">
                create_user_name = #{createUserName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="ext1 != null">
                ext1 = #{ext1},
            </if>
            <if test="ext2 != null">
                ext2 = #{ext2},
            </if>
            <if test="ext3 != null">
                ext3 = #{ext3},
            </if>
            <if test="ext4 != null">
                ext4 = #{ext4},
            </if>
            <if test="ext5 != null">
                ext5 = #{ext5},
            </if>
            <if test="expendType != null">
                expend_type =#{expendType},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据id查询 RS_PROJECT_EXPEND -->
    <select id="selectByPrimaryKey" resultMap="BaseResultAllMap" parameterType="java.lang.String">
 select DISTINCT(RPE.id), RPE.project_id, RPE.project_code, RPE.dept_id, RPE.subject_name
      , RPE.voucher_number, RPE.expend_amount, RPE.expend_date, RPE.summary, RPE.create_user_id
      , RPE.create_user_name, RPE.create_time, RPE.modify_time, RPE.del_flag, RPE.ext1, RPE.ext2
      , RPE.ext3, RPE.ext4, RPE.ext5,RPD.PROJECT_NAME,TSO.ORG_NAME,TSO.PARENT_ID
      ,TSO1.ORG_NAME AS PARENT_NAME ,RPE.expend_Type
      from RS_PROJECT_EXPEND RPE
      LEFT JOIN RS_PROJECT_DATA RPD ON RPD.ID=RPE.PROJECT_ID
      LEFT JOIN TS_ORG TSO ON TSO.ID=RPE.DEPT_ID
      LEFT JOIN TS_ORG TSO1 ON TSO1.ID=TSO.PARENT_ID
     where RPE.id = #{value}

  </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RS_PROJECT_EXPEND
     where id = #{value}

  </delete>

    <!-- 逻辑删除记录 -->
    <update id="logicDeleteByPrimaryKeys" parameterType="java.util.List">
        update RS_PROJECT_EXPEND set del_flag = 1
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>

    </update>
    <!-- RS_PROJECT_EXPEND 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
        SELECT COUNT(1) FROM(
        select DISTINCT(RPE.id), RPE.project_id, RPE.project_code, RPE.dept_id, RPE.subject_name
        , RPE.voucher_number, RPE.expend_amount, RPE.expend_date, RPE.summary, RPE.create_user_id
        , RPE.create_user_name, RPE.create_time, RPE.modify_time, RPE.del_flag, RPE.ext1, RPE.ext2
        , RPE.ext3, RPE.ext4, RPE.ext5,RPD.PROJECT_NAME,TSO.ORG_NAME,TSO.PARENT_ID
        ,TSO1.ORG_NAME AS PARENT_NAME,RPE.expend_Type
        from RS_PROJECT_EXPEND RPE
        LEFT JOIN RS_PROJECT_DATA RPD ON RPD.ID=RPE.PROJECT_ID
        LEFT JOIN TS_ORG TSO ON TSO.ID=RPE.DEPT_ID
        LEFT JOIN TS_ORG TSO1 ON TSO1.ID=TSO.PARENT_ID
        <include refid="Base_Where_Clause_New"/>
        )
    </select>

    <!-- 查询RS_PROJECT_EXPEND列表 -->
    <select id="queryByPage" resultMap="BaseResultAllMap" parameterType="com.adc.da.base.page.BasePage">
        select id, project_id, project_code, dept_id, subject_name, voucher_number, expend_amount, expend_date, summary
        , create_user_id, create_user_name, create_time, modify_time, del_flag, ext1, ext2, ext3, ext4, ext5,
        PROJECT_NAME,ORG_NAME,PARENT_ID,PARENT_NAME,expend_type
        from
        (select tmp_tb.* , rownum rn from
        (select DISTINCT(RPE.id), RPE.project_id, RPE.project_code, RPE.dept_id, RPE.subject_name
        , RPE.voucher_number, RPE.expend_amount, RPE.expend_date, RPE.summary, RPE.create_user_id
        , RPE.create_user_name, RPE.create_time, RPE.modify_time, RPE.del_flag, RPE.ext1, RPE.ext2
        , RPE.ext3, RPE.ext4, RPE.ext5,RPD.PROJECT_NAME,TSO.ORG_NAME,TSO.PARENT_ID
        ,TSO1.ORG_NAME AS PARENT_NAME,RPE.expend_Type
        from RS_PROJECT_EXPEND RPE
        LEFT JOIN RS_PROJECT_DATA RPD ON RPD.ID=RPE.PROJECT_ID
        LEFT JOIN TS_ORG TSO ON TSO.ID=RPE.DEPT_ID
        LEFT JOIN TS_ORG TSO1 ON TSO1.ID=TSO.PARENT_ID
        <include refid="Base_Where_Clause_New"></include>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        ORDER BY RPE.expend_date DESC
        ) tmp_tb where rownum &lt;= ${pager.endIndex})
        where rn &gt;= ${pager.startIndex}
    </select>

    <select id="queryByList" resultMap="BaseResultAllMap" parameterType="com.adc.da.base.page.BasePage">
        select DISTINCT(RPE.id), RPE.project_id, RPE.project_code, RPE.dept_id, RPE.subject_name
        , RPE.voucher_number, RPE.expend_amount, RPE.expend_date, RPE.summary, RPE.create_user_id
        , RPE.create_user_name, RPE.create_time, RPE.modify_time, RPE.del_flag, RPE.ext1, RPE.ext2
        , RPE.ext3, RPE.ext4, RPE.ext5,RPD.PROJECT_NAME,TSO.ORG_NAME,TSO.PARENT_ID
        ,TSO1.ORG_NAME AS PARENT_NAME,RPE.DEL_FLAG
        from RS_PROJECT_EXPEND RPE
        LEFT JOIN RS_PROJECT_DATA RPD ON RPD.ID=RPE.PROJECT_ID
        LEFT JOIN TS_ORG TSO ON TSO.ID=RPE.DEPT_ID
        LEFT JOIN TS_ORG TSO1 ON TSO1.ID=TSO.PARENT_ID
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
    </select>

</mapper>
