<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.crm.dao.CustomerContactEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.crm.entity.CustomerContactEO" >
    <id column="id" property="id" />
    <result column="cus_record_id" property="cusRecordId" />
    <result column="customer_number" property="customerNumber" />
    <result column="dept" property="dept" />
    <result column="contacts" property="contacts" />
    <result column="job" property="job" />
    <result column="gender" property="gender" />
    <result column="mobile" property="mobile" />
    <result column="phone" property="phone" />
    <result column="mail" property="mail" />
    <result column="remark" property="remark" />
    <result column="del_flag" property="delFlag" />
    <result column="created_time" property="createdTime" />
    <result column="created_user" property="createdUser" />
    <result column="modified_time" property="modifiedTime" />
    <result column="modified_user" property="modifiedUser" />
  </resultMap>

  <!-- CUSTOMER_CONTACT table all fields -->
  <sql id="Base_Column_List" >
     id, cus_record_id, customer_number, dept, contacts, job, gender, mobile, phone, mail, remark, del_flag, created_time, created_user, modified_time, modified_user
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="cusRecordId != null" >
        and cus_record_id ${cusRecordIdOperator} #{cusRecordId}
      </if>
      <if test="customerNumber != null" >
        and customer_number ${customerNumberOperator} #{customerNumber}
      </if>
      <if test="dept != null" >
        and dept ${deptOperator} #{dept}
      </if>
      <if test="contacts != null" >
        and contacts ${contactsOperator} #{contacts}
      </if>
      <if test="job != null" >
        and job ${jobOperator} #{job}
      </if>
      <if test="gender != null" >
        and gender ${genderOperator} #{gender}
      </if>
      <if test="mobile != null" >
        and mobile ${mobileOperator} #{mobile}
      </if>
      <if test="phone != null" >
        and phone ${phoneOperator} #{phone}
      </if>
      <if test="mail != null" >
        and mail ${mailOperator} #{mail}
      </if>
      <if test="remark != null" >
        and remark ${remarkOperator} #{remark}
      </if>
      <if test="delFlag != null" >
        and del_flag ${delFlagOperator} #{delFlag}
      </if>
      <if test="createdTime != null" >
        and created_time ${createdTimeOperator} #{createdTime}
      </if>
      <if test="createdTime1 != null" >
        and created_time &gt;= #{createdTime1}
      </if>
      <if test="createdTime2 != null" >
        and created_time &lt;= #{createdTime2}
      </if>
      <if test="createdUser != null" >
        and created_user ${createdUserOperator} #{createdUser}
      </if>
      <if test="modifiedTime != null" >
        and modified_time ${modifiedTimeOperator} #{modifiedTime}
      </if>
      <if test="modifiedTime1 != null" >
        and modified_time &gt;= #{modifiedTime1}
      </if>
      <if test="modifiedTime2 != null" >
        and modified_time &lt;= #{modifiedTime2}
      </if>
      <if test="modifiedUser != null" >
        and modified_user ${modifiedUserOperator} #{modifiedUser}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.crm.entity.CustomerContactEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_CUSTOMER_CONTACT.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into CUSTOMER_CONTACT(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{cusRecordId, jdbcType=VARCHAR}, #{customerNumber, jdbcType=VARCHAR}, #{dept, jdbcType=VARCHAR}, #{contacts, jdbcType=VARCHAR}, #{job, jdbcType=VARCHAR}, #{gender, jdbcType=VARCHAR}, #{mobile, jdbcType=VARCHAR}, #{phone, jdbcType=VARCHAR}, #{mail, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR}, #{delFlag, jdbcType=VARCHAR}, #{createdTime, jdbcType=TIMESTAMP}, #{createdUser, jdbcType=VARCHAR}, #{modifiedTime, jdbcType=TIMESTAMP}, #{modifiedUser, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.crm.entity.CustomerContactEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_CUSTOMER_CONTACT.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into CUSTOMER_CONTACT
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="cusRecordId != null" >cus_record_id,</if>
                <if test="customerNumber != null" >customer_number,</if>
                <if test="dept != null" >dept,</if>
                <if test="contacts != null" >contacts,</if>
                <if test="job != null" >job,</if>
                <if test="gender != null" >gender,</if>
                <if test="mobile != null" >mobile,</if>
                <if test="phone != null" >phone,</if>
                <if test="mail != null" >mail,</if>
                <if test="remark != null" >remark,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="createdTime != null" >created_time,</if>
                <if test="createdUser != null" >created_user,</if>
                <if test="modifiedTime != null" >modified_time,</if>
                <if test="modifiedUser != null" >modified_user,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="cusRecordId != null" >#{cusRecordId, jdbcType=VARCHAR},</if>
                <if test="customerNumber != null" >#{customerNumber, jdbcType=VARCHAR},</if>
                <if test="dept != null" >#{dept, jdbcType=VARCHAR},</if>
                <if test="contacts != null" >#{contacts, jdbcType=VARCHAR},</if>
                <if test="job != null" >#{job, jdbcType=VARCHAR},</if>
                <if test="gender != null" >#{gender, jdbcType=VARCHAR},</if>
                <if test="mobile != null" >#{mobile, jdbcType=VARCHAR},</if>
                <if test="phone != null" >#{phone, jdbcType=VARCHAR},</if>
                <if test="mail != null" >#{mail, jdbcType=VARCHAR},</if>
                <if test="remark != null" >#{remark, jdbcType=VARCHAR},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=VARCHAR},</if>
                <if test="createdTime != null" >#{createdTime, jdbcType=TIMESTAMP},</if>
                <if test="createdUser != null" >#{createdUser, jdbcType=VARCHAR},</if>
                <if test="modifiedTime != null" >#{modifiedTime, jdbcType=TIMESTAMP},</if>
                <if test="modifiedUser != null" >#{modifiedUser, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.crm.entity.CustomerContactEO" >
    update CUSTOMER_CONTACT
       set  cus_record_id = #{cusRecordId},
            customer_number = #{customerNumber},
            dept = #{dept},
            contacts = #{contacts},
            job = #{job},
            gender = #{gender},
            mobile = #{mobile},
            phone = #{phone},
            mail = #{mail},
            remark = #{remark},
            del_flag = #{delFlag},
            created_time = #{createdTime},
            created_user = #{createdUser},
            modified_time = #{modifiedTime},
            modified_user = #{modifiedUser}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.crm.entity.CustomerContactEO" >
    update CUSTOMER_CONTACT
    <set >
      <if test="cusRecordId != null" >
        cus_record_id = #{cusRecordId},
      </if>
      <if test="customerNumber != null" >
        customer_number = #{customerNumber},
      </if>
      <if test="dept != null" >
        dept = #{dept},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts},
      </if>
      <if test="job != null" >
        job = #{job},
      </if>
      <if test="gender != null" >
        gender = #{gender},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="mail != null" >
        mail = #{mail},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime},
      </if>
      <if test="modifiedUser != null" >
        modified_user = #{modifiedUser},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 CUSTOMER_CONTACT -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from CUSTOMER_CONTACT
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CUSTOMER_CONTACT
     where id = #{value}

  </delete>
    <delete id="deleteByCusRecordId" parameterType="java.lang.String">
        delete from CUSTOMER_CONTACT
        where CUS_RECORD_ID = #{value}
    </delete>

    <!-- CUSTOMER_CONTACT 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from CUSTOMER_CONTACT
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询CUSTOMER_CONTACT列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from CUSTOMER_CONTACT
			 <include refid="Base_Where_Clause"/>

			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from CUSTOMER_CONTACT
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

    <update id="updateByCusRecordIdAndDelFlag">
        update CUSTOMER_CONTACT set del_flag=#{delFlag} where cus_record_id=#{cusRecordId}
    </update>

</mapper>
