<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.crm.dao.ProjectInfoEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.crm.entity.ProjectInfoEO" >
    <id column="id" property="id" />
    <result column="projecr_manager_id" property="projecrManagerId" />
    <result column="dept_id" property="deptId" />
    <result column="created_date" property="createdDate" />
    <result column="project_number" property="projectNumber" />
    <result column="project_name" property="projectName" />
    <result column="discription" property="discription" />
    <result column="belonging_platform" property="belongingPlatform" />
    <result column="belonging_plate" property="belongingPlate" />
    <result column="belonging_central_dept" property="belongingCentralDept" />
    <result column="belonging_dept" property="belongingDept" />
    <result column="mobile" property="mobile" />
    <result column="phone" property="phone" />
    <result column="email" property="email" />
    <result column="pro_period" property="proPeriod" />
    <result column="pro_establish_time" property="proEstablishTime" />
    <result column="pro_approval_id" property="proApprovalId" />
    <result column="pro_establish_file" property="proEstablishFile" />
    <result column="pro_process_document" property="proProcessDocument" />
    <result column="pro_end_flag" property="proEndFlag" />
    <result column="pro_end_time" property="proEndTime" />
    <result column="created_time" property="createdTime" />
    <result column="created_user" property="createdUser" />
    <result column="modified_time" property="modifiedTime" />
    <result column="modified_user" property="modifiedUser" />
    <result column="del_flag" property="delFlag" />
  </resultMap>

  <!-- PROJECT_INFO table all fields -->
  <sql id="Base_Column_List" >
     id, projecr_manager_id, dept_id, created_date, project_number, project_name, discription, belonging_platform, belonging_plate, belonging_central_dept, belonging_dept, mobile, phone, email, pro_period, pro_establish_time, pro_approval_id, pro_establish_file, pro_process_document, pro_end_flag, pro_end_time, created_time, created_user, modified_time, modified_user, del_flag
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="projecrManagerId != null" >
        and projecr_manager_id ${projecrManagerIdOperator} #{projecrManagerId}
      </if>
      <if test="deptId != null" >
        and dept_id ${deptIdOperator} #{deptId}
      </if>
      <if test="createdDate != null" >
        and created_date ${createdDateOperator} #{createdDate}
      </if>
      <if test="createdDate1 != null" >
        and created_date &gt;= #{createdDate1}
      </if>
      <if test="createdDate2 != null" >
        and created_date &lt;= #{createdDate2}
      </if>
      <if test="projectNumber != null" >
        and project_number ${projectNumberOperator} #{projectNumber}
      </if>
      <if test="projectName != null" >
        and project_name ${projectNameOperator} #{projectName}
      </if>
      <if test="discription != null" >
        and discription ${discriptionOperator} #{discription}
      </if>
      <if test="belongingPlatform != null" >
        and belonging_platform ${belongingPlatformOperator} #{belongingPlatform}
      </if>
      <if test="belongingPlate != null" >
        and belonging_plate ${belongingPlateOperator} #{belongingPlate}
      </if>
      <if test="belongingCentralDept != null" >
        and belonging_central_dept ${belongingCentralDeptOperator} #{belongingCentralDept}
      </if>
      <if test="belongingDept != null" >
        and belonging_dept ${belongingDeptOperator} #{belongingDept}
      </if>
      <if test="mobile != null" >
        and mobile ${mobileOperator} #{mobile}
      </if>
      <if test="phone != null" >
        and phone ${phoneOperator} #{phone}
      </if>
      <if test="email != null" >
        and email ${emailOperator} #{email}
      </if>
      <if test="proPeriod != null" >
        and pro_period ${proPeriodOperator} #{proPeriod}
      </if>
      <if test="proEstablishTime != null" >
        and pro_establish_time ${proEstablishTimeOperator} #{proEstablishTime}
      </if>
      <if test="proEstablishTime1 != null" >
        and pro_establish_time &gt;= #{proEstablishTime1}
      </if>
      <if test="proEstablishTime2 != null" >
        and pro_establish_time &lt;= #{proEstablishTime2}
      </if>
      <if test="proApprovalId != null" >
        and pro_approval_id ${proApprovalIdOperator} #{proApprovalId}
      </if>
      <if test="proEstablishFile != null" >
        and pro_establish_file ${proEstablishFileOperator} #{proEstablishFile}
      </if>
      <if test="proProcessDocument != null" >
        and pro_process_document ${proProcessDocumentOperator} #{proProcessDocument}
      </if>
      <if test="proEndFlag != null" >
        and pro_end_flag ${proEndFlagOperator} #{proEndFlag}
      </if>
      <if test="proEndTime != null" >
        and pro_end_time ${proEndTimeOperator} #{proEndTime}
      </if>
      <if test="proEndTime1 != null" >
        and pro_end_time &gt;= #{proEndTime1}
      </if>
      <if test="proEndTime2 != null" >
        and pro_end_time &lt;= #{proEndTime2}
      </if>
      <if test="createdTime != null" >
        and created_time ${createdTimeOperator} #{createdTime}
      </if>
      <if test="createdTime1 != null" >
        and created_time &gt;= #{createdTime1}
      </if>
      <if test="createdTime2 != null" >
        and created_time &lt;= #{createdTime2}
      </if>
      <if test="createdUser != null" >
        and created_user ${createdUserOperator} #{createdUser}
      </if>
      <if test="modifiedTime != null" >
        and modified_time ${modifiedTimeOperator} #{modifiedTime}
      </if>
      <if test="modifiedTime1 != null" >
        and modified_time &gt;= #{modifiedTime1}
      </if>
      <if test="modifiedTime2 != null" >
        and modified_time &lt;= #{modifiedTime2}
      </if>
      <if test="modifiedUser != null" >
        and modified_user ${modifiedUserOperator} #{modifiedUser}
      </if>

        and del_flag = '0'
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.crm.entity.ProjectInfoEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_PROJECT_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into PROJECT_INFO(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{projecrManagerId, jdbcType=VARCHAR}, #{deptId, jdbcType=VARCHAR}, #{createdDate, jdbcType=TIMESTAMP}, #{projectNumber, jdbcType=VARCHAR}, #{projectName, jdbcType=VARCHAR}, #{discription, jdbcType=CLOB}, #{belongingPlatform, jdbcType=VARCHAR}, #{belongingPlate, jdbcType=VARCHAR}, #{belongingCentralDept, jdbcType=VARCHAR}, #{belongingDept, jdbcType=VARCHAR}, #{mobile, jdbcType=VARCHAR}, #{phone, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{proPeriod, jdbcType=VARCHAR}, #{proEstablishTime, jdbcType=TIMESTAMP}, #{proApprovalId, jdbcType=VARCHAR}, #{proEstablishFile, jdbcType=VARCHAR}, #{proProcessDocument, jdbcType=VARCHAR}, #{proEndFlag, jdbcType=VARCHAR}, #{proEndTime, jdbcType=TIMESTAMP}, #{createdTime, jdbcType=TIMESTAMP}, #{createdUser, jdbcType=VARCHAR}, #{modifiedTime, jdbcType=TIMESTAMP}, #{modifiedUser, jdbcType=VARCHAR}, #{delFlag, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.crm.entity.ProjectInfoEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_PROJECT_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into PROJECT_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="projecrManagerId != null" >projecr_manager_id,</if>
                <if test="deptId != null" >dept_id,</if>
                <if test="createdDate != null" >created_date,</if>
                <if test="projectNumber != null" >project_number,</if>
                <if test="projectName != null" >project_name,</if>
                <if test="discription != null" >discription,</if>
                <if test="belongingPlatform != null" >belonging_platform,</if>
                <if test="belongingPlate != null" >belonging_plate,</if>
                <if test="belongingCentralDept != null" >belonging_central_dept,</if>
                <if test="belongingDept != null" >belonging_dept,</if>
                <if test="mobile != null" >mobile,</if>
                <if test="phone != null" >phone,</if>
                <if test="email != null" >email,</if>
                <if test="proPeriod != null" >pro_period,</if>
                <if test="proEstablishTime != null" >pro_establish_time,</if>
                <if test="proApprovalId != null" >pro_approval_id,</if>
                <if test="proEstablishFile != null" >pro_establish_file,</if>
                <if test="proProcessDocument != null" >pro_process_document,</if>
                <if test="proEndFlag != null" >pro_end_flag,</if>
                <if test="proEndTime != null" >pro_end_time,</if>
                <if test="createdTime != null" >created_time,</if>
                <if test="createdUser != null" >created_user,</if>
                <if test="modifiedTime != null" >modified_time,</if>
                <if test="modifiedUser != null" >modified_user,</if>
                <if test="delFlag != null" >del_flag,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="projecrManagerId != null" >#{projecrManagerId, jdbcType=VARCHAR},</if>
                <if test="deptId != null" >#{deptId, jdbcType=VARCHAR},</if>
                <if test="createdDate != null" >#{createdDate, jdbcType=TIMESTAMP},</if>
                <if test="projectNumber != null" >#{projectNumber, jdbcType=VARCHAR},</if>
                <if test="projectName != null" >#{projectName, jdbcType=VARCHAR},</if>
                <if test="discription != null" >#{discription, jdbcType=CLOB},</if>
                <if test="belongingPlatform != null" >#{belongingPlatform, jdbcType=VARCHAR},</if>
                <if test="belongingPlate != null" >#{belongingPlate, jdbcType=VARCHAR},</if>
                <if test="belongingCentralDept != null" >#{belongingCentralDept, jdbcType=VARCHAR},</if>
                <if test="belongingDept != null" >#{belongingDept, jdbcType=VARCHAR},</if>
                <if test="mobile != null" >#{mobile, jdbcType=VARCHAR},</if>
                <if test="phone != null" >#{phone, jdbcType=VARCHAR},</if>
                <if test="email != null" >#{email, jdbcType=VARCHAR},</if>
                <if test="proPeriod != null" >#{proPeriod, jdbcType=VARCHAR},</if>
                <if test="proEstablishTime != null" >#{proEstablishTime, jdbcType=TIMESTAMP},</if>
                <if test="proApprovalId != null" >#{proApprovalId, jdbcType=VARCHAR},</if>
                <if test="proEstablishFile != null" >#{proEstablishFile, jdbcType=VARCHAR},</if>
                <if test="proProcessDocument != null" >#{proProcessDocument, jdbcType=VARCHAR},</if>
                <if test="proEndFlag != null" >#{proEndFlag, jdbcType=VARCHAR},</if>
                <if test="proEndTime != null" >#{proEndTime, jdbcType=TIMESTAMP},</if>
                <if test="createdTime != null" >#{createdTime, jdbcType=TIMESTAMP},</if>
                <if test="createdUser != null" >#{createdUser, jdbcType=VARCHAR},</if>
                <if test="modifiedTime != null" >#{modifiedTime, jdbcType=TIMESTAMP},</if>
                <if test="modifiedUser != null" >#{modifiedUser, jdbcType=VARCHAR},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.crm.entity.ProjectInfoEO" >
    update PROJECT_INFO
       set  projecr_manager_id = #{projecrManagerId},
            dept_id = #{deptId},
            created_date = #{createdDate},
            project_number = #{projectNumber},
            project_name = #{projectName},
            discription = #{discription},
            belonging_platform = #{belongingPlatform},
            belonging_plate = #{belongingPlate},
            belonging_central_dept = #{belongingCentralDept},
            belonging_dept = #{belongingDept},
            mobile = #{mobile},
            phone = #{phone},
            email = #{email},
            pro_period = #{proPeriod},
            pro_establish_time = #{proEstablishTime},
            pro_approval_id = #{proApprovalId},
            pro_establish_file = #{proEstablishFile},
            pro_process_document = #{proProcessDocument},
            pro_end_flag = #{proEndFlag},
            pro_end_time = #{proEndTime},
            created_time = #{createdTime},
            created_user = #{createdUser},
            modified_time = #{modifiedTime},
            modified_user = #{modifiedUser},
            del_flag = #{delFlag}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.crm.entity.ProjectInfoEO" >
    update PROJECT_INFO
    <set >
      <if test="projecrManagerId != null" >
        projecr_manager_id = #{projecrManagerId},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate},
      </if>
      <if test="projectNumber != null" >
        project_number = #{projectNumber},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName},
      </if>
      <if test="discription != null" >
        discription = #{discription},
      </if>
      <if test="belongingPlatform != null" >
        belonging_platform = #{belongingPlatform},
      </if>
      <if test="belongingPlate != null" >
        belonging_plate = #{belongingPlate},
      </if>
      <if test="belongingCentralDept != null" >
        belonging_central_dept = #{belongingCentralDept},
      </if>
      <if test="belongingDept != null" >
        belonging_dept = #{belongingDept},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="proPeriod != null" >
        pro_period = #{proPeriod},
      </if>
      <if test="proEstablishTime != null" >
        pro_establish_time = #{proEstablishTime},
      </if>
      <if test="proApprovalId != null" >
        pro_approval_id = #{proApprovalId},
      </if>
      <if test="proEstablishFile != null" >
        pro_establish_file = #{proEstablishFile},
      </if>
      <if test="proProcessDocument != null" >
        pro_process_document = #{proProcessDocument},
      </if>
      <if test="proEndFlag != null" >
        pro_end_flag = #{proEndFlag},
      </if>
      <if test="proEndTime != null" >
        pro_end_time = #{proEndTime},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime},
      </if>
      <if test="modifiedUser != null" >
        modified_user = #{modifiedUser},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 PROJECT_INFO -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from PROJECT_INFO
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PROJECT_INFO
     where id = #{value}

  </delete>

  <!-- PROJECT_INFO 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from PROJECT_INFO
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询PROJECT_INFO列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from PROJECT_INFO
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

    <!-- PROJECT_INFO table all fields -->
    <sql id="CRM_Column_List" >
     id, (select u.usname from TS_USER u where u.usid = projecr_manager_id) as projecr_manager_id, (select org.org_name from TS_ORG org where id = dept_id) as dept_id, created_date, project_number, project_name, discription, belonging_platform, belonging_plate, belonging_central_dept, belonging_dept, mobile, phone, email, pro_period, pro_establish_time, pro_approval_id, pro_establish_file, pro_process_document, pro_end_flag, pro_end_time, created_time, created_user, modified_time, modified_user, del_flag
  </sql>
  <!-- 查询PROJECT_INFO列表 -->
  <select id="queryCRMListByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="CRM_Column_List" /> from PROJECT_INFO
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from PROJECT_INFO
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

    <update id="updateByPrimaryKeyAndDelFlag">
        update PROJECT_INFO set del_flag=#{delFlag} where id=#{primaryKey}
    </update>

</mapper>
