<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.crm.dao.ProjectTargetBottomEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.crm.entity.ProjectTargetBottomEO" >
    <id column="id" property="id" />
    <result column="projecr_manager_id" property="projecrManagerId" />
    <result column="dept_id" property="deptId" />
    <result column="year" property="year" />
    <result column="project_id" property="projectId" />
    <result column="contract_target_1" property="contractTarget1" />
    <result column="ticket_target_1" property="ticketTarget1" />
    <result column="contract_target_2" property="contractTarget2" />
    <result column="ticket_target_2" property="ticketTarget2" />
    <result column="contract_target_3" property="contractTarget3" />
    <result column="ticket_target_3" property="ticketTarget3" />
    <result column="contract_target_4" property="contractTarget4" />
    <result column="ticket_target_4" property="ticketTarget4" />
    <result column="contract_target_year" property="contractTargetYear" />
    <result column="ticket_target_year" property="ticketTargetYear" />
    <result column="del_flag" property="delFlag" />
    <result column="created_time" property="createdTime" />
    <result column="created_user" property="createdUser" />
    <result column="modified_time" property="modifiedTime" />
    <result column="modified_user" property="modifiedUser" />
  </resultMap>

  <!-- PROJECT_TARGET_BOTTOM table all fields -->
  <sql id="Base_Column_List" >
     id, projecr_manager_id, dept_id, year, project_id, contract_target_1, ticket_target_1, contract_target_2, ticket_target_2, contract_target_3, ticket_target_3, contract_target_4, ticket_target_4, contract_target_year, ticket_target_year, del_flag, created_time, created_user, modified_time, modified_user
  </sql>

    <!-- PROJECT_TARGET_BOTTOM table all fields -->
    <sql id="CRM_Column_List" >
     id, (select u.usname from TS_USER u where u.usid = projecr_manager_id) as projecr_manager_id, (select org.org_name from TS_ORG org where id = dept_id) as dept_id, year, project_id, contract_target_1, ticket_target_1, contract_target_2, ticket_target_2, contract_target_3, ticket_target_3, contract_target_4, ticket_target_4, contract_target_year, ticket_target_year, del_flag, created_time, created_user, modified_time, modified_user
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="projecrManagerId != null" >
        and projecr_manager_id ${projecrManagerIdOperator} #{projecrManagerId}
      </if>
      <if test="deptId != null" >
        and dept_id ${deptIdOperator} #{deptId}
      </if>
      <if test="year != null" >
        and year ${yearOperator} #{year}
      </if>
      <if test="projectId != null" >
        and project_id ${projectIdOperator} #{projectId}
      </if>
      <if test="contractTarget1 != null" >
        and contract_target_1 ${contractTarget1Operator} #{contractTarget1}
      </if>
      <if test="ticketTarget1 != null" >
        and ticket_target_1 ${ticketTarget1Operator} #{ticketTarget1}
      </if>
      <if test="contractTarget2 != null" >
        and contract_target_2 ${contractTarget2Operator} #{contractTarget2}
      </if>
      <if test="ticketTarget2 != null" >
        and ticket_target_2 ${ticketTarget2Operator} #{ticketTarget2}
      </if>
      <if test="contractTarget3 != null" >
        and contract_target_3 ${contractTarget3Operator} #{contractTarget3}
      </if>
      <if test="ticketTarget3 != null" >
        and ticket_target_3 ${ticketTarget3Operator} #{ticketTarget3}
      </if>
      <if test="contractTarget4 != null" >
        and contract_target_4 ${contractTarget4Operator} #{contractTarget4}
      </if>
      <if test="ticketTarget4 != null" >
        and ticket_target_4 ${ticketTarget4Operator} #{ticketTarget4}
      </if>
      <if test="contractTargetYear != null" >
        and contract_target_year ${contractTargetYearOperator} #{contractTargetYear}
      </if>
      <if test="ticketTargetYear != null" >
        and ticket_target_year ${ticketTargetYearOperator} #{ticketTargetYear}
      </if>
      <if test="createdTime != null" >
        and created_time ${createdTimeOperator} #{createdTime}
      </if>
      <if test="createdTime1 != null" >
        and created_time &gt;= #{createdTime1}
      </if>
      <if test="createdTime2 != null" >
        and created_time &lt;= #{createdTime2}
      </if>
      <if test="createdUser != null" >
        and created_user ${createdUserOperator} #{createdUser}
      </if>
      <if test="modifiedTime != null" >
        and modified_time ${modifiedTimeOperator} #{modifiedTime}
      </if>
      <if test="modifiedTime1 != null" >
        and modified_time &gt;= #{modifiedTime1}
      </if>
      <if test="modifiedTime2 != null" >
        and modified_time &lt;= #{modifiedTime2}
      </if>
      <if test="modifiedUser != null" >
        and modified_user ${modifiedUserOperator} #{modifiedUser}
      </if>

        and del_flag = '0'
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.crm.entity.ProjectTargetBottomEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_PROJECT_TARGET_BOTTOM.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into PROJECT_TARGET_BOTTOM(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{projecrManagerId, jdbcType=VARCHAR}, #{deptId, jdbcType=VARCHAR}, #{year, jdbcType=VARCHAR}, #{projectId, jdbcType=VARCHAR}, #{contractTarget1, jdbcType=VARCHAR}, #{ticketTarget1, jdbcType=VARCHAR}, #{contractTarget2, jdbcType=VARCHAR}, #{ticketTarget2, jdbcType=VARCHAR}, #{contractTarget3, jdbcType=VARCHAR}, #{ticketTarget3, jdbcType=VARCHAR}, #{contractTarget4, jdbcType=VARCHAR}, #{ticketTarget4, jdbcType=VARCHAR}, #{contractTargetYear, jdbcType=VARCHAR}, #{ticketTargetYear, jdbcType=VARCHAR}, #{delFlag, jdbcType=VARCHAR}, #{createdTime, jdbcType=TIMESTAMP}, #{createdUser, jdbcType=VARCHAR}, #{modifiedTime, jdbcType=TIMESTAMP}, #{modifiedUser, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.crm.entity.ProjectTargetBottomEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_PROJECT_TARGET_BOTTOM.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into PROJECT_TARGET_BOTTOM
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="projecrManagerId != null" >projecr_manager_id,</if>
                <if test="deptId != null" >dept_id,</if>
                <if test="year != null" >year,</if>
                <if test="projectId != null" >project_id,</if>
                <if test="contractTarget1 != null" >contract_target_1,</if>
                <if test="ticketTarget1 != null" >ticket_target_1,</if>
                <if test="contractTarget2 != null" >contract_target_2,</if>
                <if test="ticketTarget2 != null" >ticket_target_2,</if>
                <if test="contractTarget3 != null" >contract_target_3,</if>
                <if test="ticketTarget3 != null" >ticket_target_3,</if>
                <if test="contractTarget4 != null" >contract_target_4,</if>
                <if test="ticketTarget4 != null" >ticket_target_4,</if>
                <if test="contractTargetYear != null" >contract_target_year,</if>
                <if test="ticketTargetYear != null" >ticket_target_year,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="createdTime != null" >created_time,</if>
                <if test="createdUser != null" >created_user,</if>
                <if test="modifiedTime != null" >modified_time,</if>
                <if test="modifiedUser != null" >modified_user,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="projecrManagerId != null" >#{projecrManagerId, jdbcType=VARCHAR},</if>
                <if test="deptId != null" >#{deptId, jdbcType=VARCHAR},</if>
                <if test="year != null" >#{year, jdbcType=VARCHAR},</if>
                <if test="projectId != null" >#{projectId, jdbcType=VARCHAR},</if>
                <if test="contractTarget1 != null" >#{contractTarget1, jdbcType=VARCHAR},</if>
                <if test="ticketTarget1 != null" >#{ticketTarget1, jdbcType=VARCHAR},</if>
                <if test="contractTarget2 != null" >#{contractTarget2, jdbcType=VARCHAR},</if>
                <if test="ticketTarget2 != null" >#{ticketTarget2, jdbcType=VARCHAR},</if>
                <if test="contractTarget3 != null" >#{contractTarget3, jdbcType=VARCHAR},</if>
                <if test="ticketTarget3 != null" >#{ticketTarget3, jdbcType=VARCHAR},</if>
                <if test="contractTarget4 != null" >#{contractTarget4, jdbcType=VARCHAR},</if>
                <if test="ticketTarget4 != null" >#{ticketTarget4, jdbcType=VARCHAR},</if>
                <if test="contractTargetYear != null" >#{contractTargetYear, jdbcType=VARCHAR},</if>
                <if test="ticketTargetYear != null" >#{ticketTargetYear, jdbcType=VARCHAR},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=VARCHAR},</if>
                <if test="createdTime != null" >#{createdTime, jdbcType=TIMESTAMP},</if>
                <if test="createdUser != null" >#{createdUser, jdbcType=VARCHAR},</if>
                <if test="modifiedTime != null" >#{modifiedTime, jdbcType=TIMESTAMP},</if>
                <if test="modifiedUser != null" >#{modifiedUser, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.crm.entity.ProjectTargetBottomEO" >
    update PROJECT_TARGET_BOTTOM
       set  projecr_manager_id = #{projecrManagerId},
            dept_id = #{deptId},
            year = #{year},
            project_id = #{projectId},
            contract_target_1 = #{contractTarget1},
            ticket_target_1 = #{ticketTarget1},
            contract_target_2 = #{contractTarget2},
            ticket_target_2 = #{ticketTarget2},
            contract_target_3 = #{contractTarget3},
            ticket_target_3 = #{ticketTarget3},
            contract_target_4 = #{contractTarget4},
            ticket_target_4 = #{ticketTarget4},
            contract_target_year = #{contractTargetYear},
            ticket_target_year = #{ticketTargetYear},
            del_flag = #{delFlag},
            created_time = #{createdTime},
            created_user = #{createdUser},
            modified_time = #{modifiedTime},
            modified_user = #{modifiedUser}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.crm.entity.ProjectTargetBottomEO" >
    update PROJECT_TARGET_BOTTOM
    <set >
      <if test="projecrManagerId != null" >
        projecr_manager_id = #{projecrManagerId},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId},
      </if>
      <if test="year != null" >
        year = #{year},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId},
      </if>
      <if test="contractTarget1 != null" >
        contract_target_1 = #{contractTarget1},
      </if>
      <if test="ticketTarget1 != null" >
        ticket_target_1 = #{ticketTarget1},
      </if>
      <if test="contractTarget2 != null" >
        contract_target_2 = #{contractTarget2},
      </if>
      <if test="ticketTarget2 != null" >
        ticket_target_2 = #{ticketTarget2},
      </if>
      <if test="contractTarget3 != null" >
        contract_target_3 = #{contractTarget3},
      </if>
      <if test="ticketTarget3 != null" >
        ticket_target_3 = #{ticketTarget3},
      </if>
      <if test="contractTarget4 != null" >
        contract_target_4 = #{contractTarget4},
      </if>
      <if test="ticketTarget4 != null" >
        ticket_target_4 = #{ticketTarget4},
      </if>
      <if test="contractTargetYear != null" >
        contract_target_year = #{contractTargetYear},
      </if>
      <if test="ticketTargetYear != null" >
        ticket_target_year = #{ticketTargetYear},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime},
      </if>
      <if test="modifiedUser != null" >
        modified_user = #{modifiedUser},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 PROJECT_TARGET_BOTTOM -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from PROJECT_TARGET_BOTTOM
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PROJECT_TARGET_BOTTOM
     where id = #{value}

  </delete>

  <!-- PROJECT_TARGET_BOTTOM 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from PROJECT_TARGET_BOTTOM
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询PROJECT_TARGET_BOTTOM列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from PROJECT_TARGET_BOTTOM
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>
  <!-- 查询PROJECT_TARGET_BOTTOM列表 -->
  <select id="queryCRMListByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="CRM_Column_List" /> from PROJECT_TARGET_BOTTOM
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from PROJECT_TARGET_BOTTOM
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

    <update id="updateByPrimaryKeyAndDelFlag">
        update PROJECT_TARGET_BOTTOM set del_flag=#{delFlag} where id=#{primaryKey}
    </update>

</mapper>
