<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.project.dao.ApprovalCommentEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.research.project.entity.ApprovalCommentEO" >
    <id column="id" property="id" />
    <result column="project_id" property="projectId" />
    <result column="comment_type" property="commentType" />
    <result column="comment_content" property="commentContent" javaType="string" jdbcType="CLOB"/>
    <result column="approval_name" property="approvalName" />
    <result column="approval_time" property="approvalTime" />
    <result column="process_type" property="processType" />
    <result column="del_flag" property="delFlag" />
    <result column="ext1" property="ext1" />
    <result column="ext2" property="ext2" />
    <result column="ext3" property="ext3" />
    <result column="ext4" property="ext4" />
    <result column="ext5" property="ext5" />
    <result column="PROCESS_STATUS" property="processStatus" />
  </resultMap>

  <!-- RS_APPROVAL_COMMENT table all fields -->
  <sql id="Base_Column_List" >
     id, project_id, comment_type, comment_content, approval_name, approval_time, process_type, del_flag, ext1, ext2,
      ext3, ext4, ext5, PROCESS_STATUS
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="projectId != null" >
        and project_id ${projectIdOperator} #{projectId}
      </if>
      <if test="commentType != null" >
        and comment_type ${commentTypeOperator} #{commentType}
      </if>
      <if test="commentContent != null" >
        and comment_content ${commentContentOperator} #{commentContent}
      </if>
      <if test="approvalName != null" >
        and approval_name ${approvalNameOperator} #{approvalName}
      </if>
      <if test="approvalTime != null" >
        and approval_time ${approvalTimeOperator} #{approvalTime}
      </if>
      <if test="approvalTime1 != null" >
        and approval_time &gt;= #{approvalTime1}
      </if>
      <if test="approvalTime2 != null" >
        and approval_time &lt;= #{approvalTime2}
      </if>
      <if test="processType != null" >
        and process_type ${processTypeOperator} #{processType}
      </if>
      <if test="delFlag != null" >
        and del_flag =0
      </if>
      <if test="ext1 != null" >
        and ext1 ${ext1Operator} #{ext1}
      </if>
      <if test="ext2 != null" >
        and ext2 ${ext2Operator} #{ext2}
      </if>
      <if test="ext3 != null" >
        and ext3 ${ext3Operator} #{ext3}
      </if>
      <if test="ext4 != null" >
        and ext4 ${ext4Operator} #{ext4}
      </if>
      <if test="ext5 != null" >
        and ext5 ${ext5Operator} #{ext5}
      </if>
      <if test="processStatus != null" >
            and PROCESS_STATUS ${processStatusOperator} #{processStatus}
       </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.research.project.entity.ApprovalCommentEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_APPROVAL_COMMENT.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into RS_APPROVAL_COMMENT(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{projectId, jdbcType=VARCHAR}, #{commentType, jdbcType=VARCHAR}, #{commentContent, jdbcType=CLOB}, #{approvalName, jdbcType=VARCHAR}, #{approvalTime, jdbcType=TIMESTAMP}, #{processType, jdbcType=VARCHAR}, #{delFlag, jdbcType=VARCHAR}, #{ext1, jdbcType=VARCHAR}, #{ext2, jdbcType=VARCHAR}, #{ext3, jdbcType=VARCHAR}, #{ext4, jdbcType=VARCHAR}, #{ext5, jdbcType=VARCHAR}, #{processStatus, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.research.project.entity.ApprovalCommentEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_APPROVAL_COMMENT.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into RS_APPROVAL_COMMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="projectId != null" >project_id,</if>
                <if test="commentType != null" >comment_type,</if>
                <if test="commentContent != null" >comment_content,</if>
                <if test="approvalName != null" >approval_name,</if>
                <if test="approvalTime != null" >approval_time,</if>
                <if test="processType != null" >process_type,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="ext1 != null" >ext1,</if>
                <if test="ext2 != null" >ext2,</if>
                <if test="ext3 != null" >ext3,</if>
                <if test="ext4 != null" >ext4,</if>
                <if test="ext5 != null" >ext5,</if>
                <if test="processStatus != null" >PROCESS_STATUS,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="projectId != null" >#{projectId, jdbcType=VARCHAR},</if>
                <if test="commentType != null" >#{commentType, jdbcType=VARCHAR},</if>
                <if test="commentContent != null" >#{commentContent, jdbcType=CLOB},</if>
                <if test="approvalName != null" >#{approvalName, jdbcType=VARCHAR},</if>
                <if test="approvalTime != null" >#{approvalTime, jdbcType=TIMESTAMP},</if>
                <if test="processType != null" >#{processType, jdbcType=VARCHAR},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=VARCHAR},</if>
                <if test="ext1 != null" >#{ext1, jdbcType=VARCHAR},</if>
                <if test="ext2 != null" >#{ext2, jdbcType=VARCHAR},</if>
                <if test="ext3 != null" >#{ext3, jdbcType=VARCHAR},</if>
                <if test="ext4 != null" >#{ext4, jdbcType=VARCHAR},</if>
                <if test="ext5 != null" >#{ext5, jdbcType=VARCHAR},</if>
                <if test="processStatus != null" >#{processStatus, jdbcType=VARCHAR},</if>
            </trim>
  </insert>
    <insert id="batchInsertSelective" parameterType="com.adc.da.research.project.entity.ApprovalCommentEO" >
        INSERT ALL
        <foreach collection = "approvalCommentEOList" item = "item" index = "index">
            <if test = "item.id != null">
                into RS_APPROVAL_COMMENT
                <trim prefix="(" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >id,</if>
                    <if test="item.projectId != null" >project_id,</if>
                    <if test="item.commentType != null" >comment_type,</if>
                    <if test="item.commentContent != null" >comment_content,</if>
                    <if test="item.approvalName != null" >approval_name,</if>
                    <if test="item.approvalTime != null" >approval_time,</if>
                    <if test="item.processType != null" >process_type,</if>
                    <if test="item.delFlag != null" >del_flag,</if>
                    <if test="item.ext1 != null" >ext1,</if>
                    <if test="item.ext2 != null" >ext2,</if>
                    <if test="item.ext3 != null" >ext3,</if>
                    <if test="item.ext4 != null" >ext4,</if>
                    <if test="item.ext5 != null" >ext5,</if>
                    <if test="item.processStatus != null" >PROCESS_STATUS,</if>
                </trim>
                <trim prefix="values (" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >#{item.id, jdbcType=VARCHAR},</if>
                    <if test="item.projectId != null" >#{item.projectId, jdbcType=VARCHAR},</if>
                    <if test="item.commentType != null" >#{item.commentType, jdbcType=VARCHAR},</if>
                    <if test="item.commentContent != null" >#{item.commentContent, jdbcType=VARCHAR},</if>
                    <if test="item.approvalName != null" >#{item.approvalName, jdbcType=VARCHAR},</if>
                    <if test="item.approvalTime != null" >#{item.approvalTime, jdbcType=VARCHAR},</if>
                    <if test="item.processType != null" >#{item.processType, jdbcType=VARCHAR},</if>
                    <if test="item.delFlag != null" >#{item.delFlag, jdbcType=INTEGER},</if>
                    <if test="item.ext1 != null" >#{item.ext1, jdbcType=VARCHAR},</if>
                    <if test="item.ext2 != null" >#{item.ext2, jdbcType=VARCHAR},</if>
                    <if test="item.ext3 != null" >#{item.ext3, jdbcType=VARCHAR},</if>
                    <if test="item.ext4 != null" >#{item.ext4, jdbcType=VARCHAR},</if>
                    <if test="item.ext5 != null" >#{item.ext5, jdbcType=VARCHAR},</if>
                    <if test="item.processStatus != null" >#{item.processStatus, jdbcType=VARCHAR},</if>
                </trim>
            </if>
        </foreach>
        SELECT 1 FROM dual
    </insert>

    <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.research.project.entity.ApprovalCommentEO" >
    update RS_APPROVAL_COMMENT
       set  project_id = #{projectId},
            comment_type = #{commentType},
            comment_content = #{commentContent},
            approval_name = #{approvalName},
            approval_time = #{approvalTime},
            process_type = #{processType},
            del_flag = #{delFlag},
            ext1 = #{ext1},
            ext2 = #{ext2},
            ext3 = #{ext3},
            ext4 = #{ext4},
            ext5 = #{ext5},
            PROCESS_STATUS = #{processStatus}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.research.project.entity.ApprovalCommentEO" >
    update RS_APPROVAL_COMMENT
    <set >
      <if test="projectId != null" >
        project_id = #{projectId},
      </if>
      <if test="commentType != null" >
        comment_type = #{commentType},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent},
      </if>
      <if test="approvalName != null" >
        approval_name = #{approvalName},
      </if>
      <if test="approvalTime != null" >
        approval_time = #{approvalTime},
      </if>
      <if test="processType != null" >
        process_type = #{processType},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5},
      </if>
        <if test="processStatus != null" >
            PROCESS_STATUS = #{processStatus},
        </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 RS_APPROVAL_COMMENT -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from RS_APPROVAL_COMMENT
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RS_APPROVAL_COMMENT
     where id = #{value}

  </delete>

  <!-- RS_APPROVAL_COMMENT 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from RS_APPROVAL_COMMENT
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询RS_APPROVAL_COMMENT列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from RS_APPROVAL_COMMENT
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from RS_APPROVAL_COMMENT
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
