<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.project.dao.CheckTargetHistoryEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.research.project.entity.CheckTargetHistoryEO" >
    <id column="id" property="id" />
    <result column="project_id" property="projectId" />
    <result column="check_type_id" property="checkTypeId" />
    <result column="check_name" property="checkName" />
    <result column="check_num" property="checkNum" />
    <result column="finished_num" property="finishedNum" />
    <result column="create_user_id" property="createUserId" />
    <result column="create_user_name" property="createUserName" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
    <result column="del_flag" property="delFlag" />
    <result column="ext1" property="ext1" />
    <result column="ext2" property="ext2" />
    <result column="ext3" property="ext3" />
    <result column="ext4" property="ext4" />
    <result column="ext5" property="ext5" />
    <result column="deliverable_name" property="deliverableName" />
    <result column="deliverable_target" property="deliverableTarget" />
  </resultMap>

  <!-- RS_CHECK_TARGET_HISTORY table all fields -->
  <sql id="Base_Column_List" >
     id, project_id, check_type_id, check_name, check_num, finished_num, create_user_id, create_user_name, create_time, modify_time, del_flag, ext1, ext2, ext3, ext4, ext5, deliverable_name, deliverable_target
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
      where 1=1 and del_flag=0
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="projectId != null" >
        and project_id ${projectIdOperator} #{projectId}
      </if>
      <if test="checkTypeId != null" >
        and check_type_id ${checkTypeIdOperator} #{checkTypeId}
      </if>
      <if test="checkName != null" >
        and check_name ${checkNameOperator} #{checkName}
      </if>
      <if test="checkNum != null" >
        and check_num ${checkNumOperator} #{checkNum}
      </if>
      <if test="finishedNum != null" >
        and finished_num ${finishedNumOperator} #{finishedNum}
      </if>
      <if test="createUserId != null" >
        and create_user_id ${createUserIdOperator} #{createUserId}
      </if>
      <if test="createUserName != null" >
        and create_user_name ${createUserNameOperator} #{createUserName}
      </if>
      <if test="createTime != null" >
        and create_time ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and create_time &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and create_time &lt;= #{createTime2}
      </if>
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
      <if test="delFlag != null" >
        and del_flag ${delFlagOperator} #{delFlag}
      </if>
      <if test="ext1 != null" >
        and ext1 ${ext1Operator} #{ext1}
      </if>
      <if test="ext2 != null" >
        and ext2 ${ext2Operator} #{ext2}
      </if>
      <if test="ext3 != null" >
        and ext3 ${ext3Operator} #{ext3}
      </if>
      <if test="ext4 != null" >
        and ext4 ${ext4Operator} #{ext4}
      </if>
      <if test="ext5 != null" >
        and ext5 ${ext5Operator} #{ext5}
      </if>
      <if test="deliverableName != null" >
        and deliverable_name ${deliverableNameOperator} #{deliverableName}
      </if>
      <if test="deliverableTarget != null" >
        and deliverable_target ${deliverableTargetOperator} #{deliverableTarget}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.research.project.entity.CheckTargetHistoryEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_CHECK_TARGET_HISTORY.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into RS_CHECK_TARGET_HISTORY(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{projectId, jdbcType=VARCHAR}, #{checkTypeId, jdbcType=VARCHAR}, #{checkName, jdbcType=VARCHAR}, #{checkNum, jdbcType=DOUBLE}, #{finishedNum, jdbcType=DOUBLE}, #{createUserId, jdbcType=VARCHAR}, #{createUserName, jdbcType=VARCHAR}, #{createTime, jdbcType=TIMESTAMP}, #{modifyTime, jdbcType=TIMESTAMP}, #{delFlag, jdbcType=INTEGER}, #{ext1, jdbcType=VARCHAR}, #{ext2, jdbcType=VARCHAR}, #{ext3, jdbcType=VARCHAR}, #{ext4, jdbcType=VARCHAR}, #{ext5, jdbcType=VARCHAR}, #{deliverableName, jdbcType=VARCHAR}, #{deliverableTarget, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.research.project.entity.CheckTargetHistoryEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_CHECK_TARGET_HISTORY.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into RS_CHECK_TARGET_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="projectId != null" >project_id,</if>
                <if test="checkTypeId != null" >check_type_id,</if>
                <if test="checkName != null" >check_name,</if>
                <if test="checkNum != null" >check_num,</if>
                <if test="finishedNum != null" >finished_num,</if>
                <if test="createUserId != null" >create_user_id,</if>
                <if test="createUserName != null" >create_user_name,</if>
                <if test="createTime != null" >create_time,</if>
                <if test="modifyTime != null" >modify_time,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="ext1 != null" >ext1,</if>
                <if test="ext2 != null" >ext2,</if>
                <if test="ext3 != null" >ext3,</if>
                <if test="ext4 != null" >ext4,</if>
                <if test="ext5 != null" >ext5,</if>
                <if test="deliverableName != null" >deliverable_name,</if>
                <if test="deliverableTarget != null" >deliverable_target,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="projectId != null" >#{projectId, jdbcType=VARCHAR},</if>
                <if test="checkTypeId != null" >#{checkTypeId, jdbcType=VARCHAR},</if>
                <if test="checkName != null" >#{checkName, jdbcType=VARCHAR},</if>
                <if test="checkNum != null" >#{checkNum, jdbcType=DOUBLE},</if>
                <if test="finishedNum != null" >#{finishedNum, jdbcType=DOUBLE},</if>
                <if test="createUserId != null" >#{createUserId, jdbcType=VARCHAR},</if>
                <if test="createUserName != null" >#{createUserName, jdbcType=VARCHAR},</if>
                <if test="createTime != null" >#{createTime, jdbcType=TIMESTAMP},</if>
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=INTEGER},</if>
                <if test="ext1 != null" >#{ext1, jdbcType=VARCHAR},</if>
                <if test="ext2 != null" >#{ext2, jdbcType=VARCHAR},</if>
                <if test="ext3 != null" >#{ext3, jdbcType=VARCHAR},</if>
                <if test="ext4 != null" >#{ext4, jdbcType=VARCHAR},</if>
                <if test="ext5 != null" >#{ext5, jdbcType=VARCHAR},</if>
                <if test="deliverableName != null" >#{deliverableName, jdbcType=VARCHAR},</if>
                <if test="deliverableTarget != null" >#{deliverableTarget, jdbcType=VARCHAR},</if>
            </trim>
  </insert>
    <!--批量新增-->
    <insert id = "batchInsertSelective">
        INSERT ALL
        <foreach collection = "checkTargetEOS" item = "item" index = "index">
            <if test = "item.id != null">
                into RS_CHECK_TARGET_HISTORY
                <trim prefix="(" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >id,</if>
                    <if test="item.projectId != null" >project_id,</if>
                    <if test="item.checkTypeId != null" >check_type_id,</if>
                    <if test="item.checkName != null" >check_name,</if>
                    <if test="item.checkNum != null" >check_num,</if>
                    <if test="item.finishedNum != null" >finished_num,</if>
                    <if test="item.createUserId != null" >create_user_id,</if>
                    <if test="item.createUserName != null" >create_user_name,</if>
                    <if test="item.createTime != null" >create_time,</if>
                    <if test="item.modifyTime != null" >modify_time,</if>
                    <if test="item.delFlag != null" >del_flag,</if>
                    <if test="item.ext1 != null" >ext1,</if>
                    <if test="item.ext2 != null" >ext2,</if>
                    <if test="item.ext3 != null" >ext3,</if>
                    <if test="item.ext4 != null" >ext4,</if>
                    <if test="item.ext5 != null" >ext5,</if>
                    <if test="item.deliverableName != null" >DELIVERABLE_NAME,</if>
                    <if test="item.deliverableTarget != null" >DELIVERABLE_TARGET,</if>
                </trim>
                <trim prefix="values (" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >#{item.id, jdbcType=VARCHAR},</if>
                    <if test="item.projectId != null" >#{item.projectId, jdbcType=VARCHAR},</if>
                    <if test="item.checkTypeId != null" >#{item.checkTypeId, jdbcType=VARCHAR},</if>
                    <if test="item.checkName != null" >#{item.checkName, jdbcType=VARCHAR},</if>
                    <if test="item.checkNum != null" >#{item.checkNum, jdbcType=DOUBLE},</if>
                    <if test="item.finishedNum != null" >#{item.finishedNum, jdbcType=DOUBLE},</if>
                    <if test="item.createUserId != null" >#{item.createUserId, jdbcType=VARCHAR},</if>
                    <if test="item.createUserName != null" >#{item.createUserName, jdbcType=VARCHAR},</if>
                    <if test="item.createTime != null" >#{item.createTime, jdbcType=TIMESTAMP},</if>
                    <if test="item.modifyTime != null" >#{item.modifyTime, jdbcType=TIMESTAMP},</if>
                    <if test="item.delFlag != null" >#{item.delFlag, jdbcType=INTEGER},</if>
                    <if test="item.ext1 != null" >#{item.ext1, jdbcType=VARCHAR},</if>
                    <if test="item.ext2 != null" >#{item.ext2, jdbcType=VARCHAR},</if>
                    <if test="item.ext3 != null" >#{item.ext3, jdbcType=VARCHAR},</if>
                    <if test="item.ext4 != null" >#{item.ext4, jdbcType=VARCHAR},</if>
                    <if test="item.ext5 != null" >#{item.ext5, jdbcType=VARCHAR},</if>
                    <if test="item.deliverableName != null" >#{item.deliverableName, jdbcType=VARCHAR},</if>
                    <if test="item.deliverableTarget != null" >#{item.deliverableTarget, jdbcType=VARCHAR},</if>
                </trim>
            </if>
        </foreach>
        SELECT 1 FROM dual
    </insert>
  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.research.project.entity.CheckTargetHistoryEO" >
    update RS_CHECK_TARGET_HISTORY
       set  project_id = #{projectId},
            check_type_id = #{checkTypeId},
            check_name = #{checkName},
            check_num = #{checkNum},
            finished_num = #{finishedNum},
            create_user_id = #{createUserId},
            create_user_name = #{createUserName},
            create_time = #{createTime},
            modify_time = #{modifyTime},
            del_flag = #{delFlag},
            ext1 = #{ext1},
            ext2 = #{ext2},
            ext3 = #{ext3},
            ext4 = #{ext4},
            ext5 = #{ext5},
            deliverable_name = #{deliverableName},
            deliverable_target = #{deliverableTarget}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.research.project.entity.CheckTargetHistoryEO" >
    update RS_CHECK_TARGET_HISTORY
    <set >
      <if test="projectId != null" >
        project_id = #{projectId},
      </if>
      <if test="checkTypeId != null" >
        check_type_id = #{checkTypeId},
      </if>
      <if test="checkName != null" >
        check_name = #{checkName},
      </if>
      <if test="checkNum != null" >
        check_num = #{checkNum},
      </if>
      <if test="finishedNum != null" >
        finished_num = #{finishedNum},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5},
      </if>
      <if test="deliverableName != null" >
        deliverable_name = #{deliverableName},
      </if>
      <if test="deliverableTarget != null" >
        deliverable_target = #{deliverableTarget},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 RS_CHECK_TARGET_HISTORY -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from RS_CHECK_TARGET_HISTORY
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RS_CHECK_TARGET_HISTORY
     where id = #{value}

  </delete>

  <!-- RS_CHECK_TARGET_HISTORY 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from RS_CHECK_TARGET_HISTORY
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询RS_CHECK_TARGET_HISTORY列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from RS_CHECK_TARGET_HISTORY
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from RS_CHECK_TARGET_HISTORY
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

    <!--根据项目id删除-->
    <delete id="deleteByProjectId" parameterType="java.lang.String">
   	delete  from RS_CHECK_TARGET_HISTORY
     where project_id = #{projectId} and check_type_id = #{checkTypeId}

  </delete>
    <!--根据项目id删除-->
    <delete id="deleteAllByProjectId" parameterType="java.lang.String">
   	delete  from RS_CHECK_TARGET_HISTORY
     where project_id = #{projectId}

  </delete>
   <!-- <update id="deleteByProjectId" parameterType="java.lang.String">
   	update  RS_CHECK_TARGET_HISTORY set del_flag=1
     where project_id = #{projectId}  and check_type_id = #{checkTypeId}

  </update>-->

</mapper>
