<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.project.dao.ImplementationProcEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.research.project.entity.ImplementationProcEO" >
    <id column="id" property="id" />
    <result column="project_id" property="projectId" />
    <result column="procee_stage_id" property="proceeStageId" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="status" property="status" />
    <result column="del_flag" property="delFlag" />
    <result column="ext1" property="ext1" />
    <result column="ext2" property="ext2" />
    <result column="ext3" property="ext3" />
    <result column="ext4" property="ext4" />
    <result column="ext5" property="ext5" />
      <result column="stage_name" property="stageName" />
      <result column="file_id" property="fileId" />
      <result column="file_name" property="fileName" />
  </resultMap>

  <!-- RS_IMPLEMENTATION_PROC table all fields -->
  <sql id="Base_Column_List" >
     id, project_id, procee_stage_id, start_time, end_time, status, del_flag, ext1, ext2, ext3, ext4, ext5
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="projectId != null" >
        and project_id ${projectIdOperator} #{projectId}
      </if>
      <if test="proceeStageId != null" >
        and procee_stage_id ${proceeStageIdOperator} #{proceeStageId}
      </if>
      <if test="startTime != null" >
        and start_time ${startTimeOperator} #{startTime}
      </if>
      <if test="startTime1 != null" >
        and start_time &gt;= #{startTime1}
      </if>
      <if test="startTime2 != null" >
        and start_time &lt;= #{startTime2}
      </if>
      <if test="endTime != null" >
        and end_time ${endTimeOperator} #{endTime}
      </if>
      <if test="endTime1 != null" >
        and end_time &gt;= #{endTime1}
      </if>
      <if test="endTime2 != null" >
        and end_time &lt;= #{endTime2}
      </if>
      <if test="status != null" >
        and status ${statusOperator} #{status}
      </if>
      <if test="delFlag != null" >
        and del_flag =0
      </if>
      <if test="ext1 != null" >
        and ext1 ${ext1Operator} #{ext1}
      </if>
      <if test="ext2 != null" >
        and ext2 ${ext2Operator} #{ext2}
      </if>
      <if test="ext3 != null" >
        and ext3 ${ext3Operator} #{ext3}
      </if>
      <if test="ext4 != null" >
        and ext4 ${ext4Operator} #{ext4}
      </if>
      <if test="ext5 != null" >
        and ext5 ${ext5Operator} #{ext5}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.research.project.entity.ImplementationProcEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_IMPLEMENTATION_PROC.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into RS_IMPLEMENTATION_PROC(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{projectId, jdbcType=VARCHAR}, #{proceeStageId, jdbcType=VARCHAR}, #{startTime, jdbcType=TIMESTAMP}, #{endTime, jdbcType=TIMESTAMP}, #{status, jdbcType=VARCHAR}, #{delFlag, jdbcType=VARCHAR}, #{ext1, jdbcType=VARCHAR}, #{ext2, jdbcType=VARCHAR}, #{ext3, jdbcType=VARCHAR}, #{ext4, jdbcType=VARCHAR}, #{ext5, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.research.project.entity.ImplementationProcEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_IMPLEMENTATION_PROC.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into RS_IMPLEMENTATION_PROC
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="projectId != null" >project_id,</if>
                <if test="proceeStageId != null" >procee_stage_id,</if>
                <if test="startTime != null" >start_time,</if>
                <if test="endTime != null" >end_time,</if>
                <if test="status != null" >status,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="ext1 != null" >ext1,</if>
                <if test="ext2 != null" >ext2,</if>
                <if test="ext3 != null" >ext3,</if>
                <if test="ext4 != null" >ext4,</if>
                <if test="ext5 != null" >ext5,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="projectId != null" >#{projectId, jdbcType=VARCHAR},</if>
                <if test="proceeStageId != null" >#{proceeStageId, jdbcType=VARCHAR},</if>
                <if test="startTime != null" >#{startTime, jdbcType=TIMESTAMP},</if>
                <if test="endTime != null" >#{endTime, jdbcType=TIMESTAMP},</if>
                <if test="status != null" >#{status, jdbcType=VARCHAR},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=VARCHAR},</if>
                <if test="ext1 != null" >#{ext1, jdbcType=VARCHAR},</if>
                <if test="ext2 != null" >#{ext2, jdbcType=VARCHAR},</if>
                <if test="ext3 != null" >#{ext3, jdbcType=VARCHAR},</if>
                <if test="ext4 != null" >#{ext4, jdbcType=VARCHAR},</if>
                <if test="ext5 != null" >#{ext5, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.research.project.entity.ImplementationProcEO" >
    update RS_IMPLEMENTATION_PROC
       set  project_id = #{projectId},
            procee_stage_id = #{proceeStageId},
            start_time = #{startTime},
            end_time = #{endTime},
            status = #{status},
            del_flag = #{delFlag},
            ext1 = #{ext1},
            ext2 = #{ext2},
            ext3 = #{ext3},
            ext4 = #{ext4},
            ext5 = #{ext5}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.research.project.entity.ImplementationProcEO" >
    update RS_IMPLEMENTATION_PROC
    <set >
      <if test="projectId != null" >
        project_id = #{projectId},
      </if>
      <if test="proceeStageId != null" >
        procee_stage_id = #{proceeStageId},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 RS_IMPLEMENTATION_PROC -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from RS_IMPLEMENTATION_PROC
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RS_IMPLEMENTATION_PROC
     where id = #{value}

  </delete>

  <!-- RS_IMPLEMENTATION_PROC 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from RS_IMPLEMENTATION_PROC
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询RS_IMPLEMENTATION_PROC列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from RS_IMPLEMENTATION_PROC
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
      select imp.id,imp.project_id, imp.procee_stage_id, imp.start_time, imp.end_time, imp.status, imp.del_flag, imp.ext1, imp.ext2, imp.ext3, imp.ext4, imp.ext5,
      prs.stage_name,imf.file_id,imf.ext1 file_name from RS_IMPLEMENTATION_PROC imp left join RS_PROCESS_STAGE prs on imp.procee_stage_id=prs.id  left join RS_IMPLEMENTATION_PROC_File imf on imf.process_id=imp.id where imp.project_id=#{projectId}



    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>


    <!--批量新增-->
    <insert id = "batchInsertSelective">
        INSERT ALL
        <foreach collection = "implementationProcEOList" item = "item" index = "index">
            <if test = "item.id != null">
                into RS_IMPLEMENTATION_PROC
                <trim prefix="(" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >id,</if>
                    <if test="item.projectId != null" >project_id,</if>
                    <if test="item.proceeStageId != null" >procee_Stage_Id,</if>
                    <if test="item.startTime != null" >start_Time,</if>
                    <if test="item.endTime != null" >end_time,</if>
                    <if test="item.status != null" >status,</if>
                    <if test="item.delFlag != null" >del_Flag,</if>
                    <if test="item.ext1 != null" >ext1,</if>
                    <if test="item.ext2 != null" >ext2,</if>
                    <if test="item.ext3 != null" >ext3,</if>
                    <if test="item.ext4 != null" >ext4,</if>
                    <if test="item.ext5 != null" >ext5,</if>
                </trim>
                <trim prefix="values (" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >#{item.id},</if>
                    <if test="item.projectId != null" >#{item.projectId},</if>
                    <if test="item.proceeStageId != null" >#{item.proceeStageId},</if>
                    <if test="item.startTime != null" >#{item.startTime},</if>
                    <if test="item.endTime != null" >#{item.endTime},</if>
                    <if test="item.status != null" >#{item.status},</if>
                    <if test="item.delFlag != null" >#{item.delFlag},</if>
                    <if test="item.ext1 != null" >#{item.ext1, jdbcType=VARCHAR},</if>
                    <if test="item.ext2 != null" >#{item.ext2, jdbcType=VARCHAR},</if>
                    <if test="item.ext3 != null" >#{item.ext3, jdbcType=VARCHAR},</if>
                    <if test="item.ext4 != null" >#{item.ext4, jdbcType=VARCHAR},</if>
                    <if test="item.ext5 != null" >#{item.ext5, jdbcType=VARCHAR},</if>
                </trim>
            </if>
        </foreach>
        SELECT 1 FROM dual
    </insert>

</mapper>
