<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.project.dao.ResearchBudgetDetailEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.research.project.entity.ResearchBudgetDetailEO" >
      <id column="id_" property="id" />
      <result column="model_" property="model" />
      <result column="function_" property="function" />
      <result column="entrusted_unit_" property="entrustedUnit" />
      <result column="people_num_" property="peopleNum" />
      <result column="day_num_" property="dayNum" />
      <result column="exchange_place_" property="exchangePlace" />
      <result column="participate_host_" property="participateHost" />
      <result column="total_price_" property="totalPrice" />
      <result column="del_flag" property="delFlag" />
      <result column="research_project_id_" property="researchProjectId" />
      <result column="detail_type_" property="detailType" />
      <result column="name_" property="name" />
      <result column="count_" property="count" />
      <result column="unit_" property="unit" />
      <result column="unit_price_" property="unitPrice" />
      <result column="sort_" property="sort" />
      <result column="ext_info_1_" property="extInfo1" />
      <result column="ext_info_2_" property="extInfo2" />
      <result column="ext_info_3_" property="extInfo3" />
      <result column="ext_info_4_" property="extInfo4" />
      <result column="ext_info_5_" property="extInfo5" />
      <result column="ext_info_6_" property="extInfo6" />
      <result column="create_time" property="createTime" />
      <result column="modify_time" property="modifyTime" />
      <result column="create_user_id" property="createUserId" />
      <result column="create_user_name" property="createUserName" />
  </resultMap>

  <!-- RS_RESEARCH_BUDGET_DETAIL table all fields -->
  <sql id="Base_Column_List" >
        model_, function_, entrusted_unit_, people_num_, day_num_, exchange_place_, participate_host_, total_price_,
        del_flag, id_, research_project_id_, detail_type_, name_, count_, unit_, unit_price_, sort_, ext_info_1_, ext_info_2_, ext_info_3_, ext_info_4_, ext_info_5_, ext_info_6_,create_time, modify_time,create_user_id, create_user_name
  </sql>

  <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1 and del_flag=0
        <trim suffixOverrides="," >
            <if test="model != null" >
                and model_ ${modelOperator} #{model}
            </if>
            <if test="function != null" >
                and function_ ${functionOperator} #{function}
            </if>
            <if test="entrustedUnit != null" >
                and entrusted_unit_ ${entrustedUnitOperator} #{entrustedUnit}
            </if>
            <if test="peopleNum != null" >
                and people_num_ ${peopleNumOperator} #{peopleNum}
            </if>
            <if test="dayNum != null" >
                and day_num_ ${dayNumOperator} #{dayNum}
            </if>
            <if test="exchangePlace != null" >
                and exchange_place_ ${exchangePlaceOperator} #{exchangePlace}
            </if>
            <if test="participateHost != null" >
                and participate_host_ ${participateHostOperator} #{participateHost}
            </if>
            <if test="totalPrice != null" >
                and total_price_ ${totalPriceOperator} #{totalPrice}
            </if>
            <if test="delFlag != null" >
                and del_flag ${delFlagOperator} #{delFlag}
            </if>
            <if test="id != null" >
                and id_ ${idOperator} #{id}
            </if>
            <if test="researchProjectId != null" >
                and research_project_id_ ${researchProjectIdOperator} #{researchProjectId}
            </if>
            <if test="detailType != null" >
                and detail_type_ ${detailTypeOperator} #{detailType}
            </if>
            <if test="name != null" >
                and name_ ${nameOperator} #{name}
            </if>
            <if test="count != null" >
                and count_ ${countOperator} #{count}
            </if>
            <if test="unit != null" >
                and unit_ ${unitOperator} #{unit}
            </if>
            <if test="unitPrice != null" >
                and unit_price_ ${unitPriceOperator} #{unitPrice}
            </if>
            <if test="sort != null" >
                and sort_ ${sortOperator} #{sort}
            </if>
            <if test="extInfo1 != null" >
                and ext_info_1_ ${extInfo1Operator} #{extInfo1}
            </if>
            <if test="extInfo2 != null" >
                and ext_info_2_ ${extInfo2Operator} #{extInfo2}
            </if>
            <if test="extInfo3 != null" >
                and ext_info_3_ ${extInfo3Operator} #{extInfo3}
            </if>
            <if test="extInfo4 != null" >
                and ext_info_4_ ${extInfo4Operator} #{extInfo4}
            </if>
            <if test="extInfo5 != null" >
                and ext_info_5_ ${extInfo5Operator} #{extInfo5}
            </if>
            <if test="extInfo6 != null" >
                and ext_info_6_ ${extInfo6Operator} #{extInfo6}
            </if>
            <if test="createTime != null" >
                and create_time ${createTimeOperator} #{createTime}
            </if>
            <if test="createTime1 != null" >
                and create_time &gt;= #{createTime1}
            </if>
            <if test="createTime2 != null" >
                and create_time &lt;= #{createTime2}
            </if>
            <if test="modifyTime != null" >
                and modify_time ${modifyTimeOperator} #{modifyTime}
            </if>
            <if test="modifyTime1 != null" >
                and modify_time &gt;= #{modifyTime1}
            </if>
            <if test="modifyTime2 != null" >
                and modify_time &lt;= #{modifyTime2}
            </if>
            <if test="createUserId != null" >
                and create_user_id ${createUserIdOperator} #{createUserId}
            </if>
            <if test="createUserName != null" >
                and create_user_name ${createUserNameOperator} #{createUserName}
            </if>
        </trim>
    </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.research.project.entity.ResearchBudgetDetailEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id_">
        SELECT SEQ_RS_RESEARCH_BUDGET_DETAIL.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into RS_RESEARCH_BUDGET_DETAIL(<include refid="Base_Column_List" />)
    values
      (#{model, jdbcType=VARCHAR}, #{function, jdbcType=VARCHAR}, #{entrustedUnit, jdbcType=VARCHAR},
      #{peopleNum, jdbcType=VARCHAR}, #{dayNum, jdbcType=VARCHAR}, #{exchangePlace, jdbcType=VARCHAR},
      #{participateHost, jdbcType=VARCHAR}, #{totalPrice, jdbcType=DOUBLE}, #{delFlag, jdbcType=INTEGER}, #{id, jdbcType=VARCHAR}, #{researchProjectId, jdbcType=VARCHAR}, #{detailType, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{count, jdbcType=VARCHAR}, #{unit, jdbcType=VARCHAR}, #{unitPrice, jdbcType=DOUBLE}, #{sort, jdbcType=VARCHAR}, #{extInfo1, jdbcType=VARCHAR}, #{extInfo2, jdbcType=VARCHAR}, #{extInfo3, jdbcType=VARCHAR}, #{extInfo4, jdbcType=VARCHAR}, #{extInfo5, jdbcType=VARCHAR}, #{extInfo6, jdbcType=VARCHAR},#{createTime, jdbcType=TIMESTAMP}, #{modifyTime, jdbcType=TIMESTAMP},#{createUserId, jdbcType=VARCHAR}, #{createUserName, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.research.project.entity.ResearchBudgetDetailEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id_">
        SELECT SEQ_RS_RESEARCH_BUDGET_DETAIL.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into RS_RESEARCH_BUDGET_DETAIL
      <trim prefix="(" suffix=")" suffixOverrides="," >
          <if test="model != null" >model_,</if>
          <if test="function != null" >function_,</if>
          <if test="entrustedUnit != null" >entrusted_unit_,</if>
          <if test="peopleNum != null" >people_num_,</if>
          <if test="dayNum != null" >day_num_,</if>
          <if test="exchangePlace != null" >exchange_place_,</if>
          <if test="participateHost != null" >participate_host_,</if>
          <if test="totalPrice != null" >total_price_,</if>
          <if test="delFlag != null" >del_flag,</if>
          <if test="id != null" >id_,</if>
          <if test="researchProjectId != null" >research_project_id_,</if>
          <if test="detailType != null" >detail_type_,</if>
          <if test="name != null" >name_,</if>
          <if test="count != null" >count_,</if>
          <if test="unit != null" >unit_,</if>
          <if test="unitPrice != null" >unit_price_,</if>
          <if test="sort != null" >sort_,</if>
          <if test="extInfo1 != null" >ext_info_1_,</if>
          <if test="extInfo2 != null" >ext_info_2_,</if>
          <if test="extInfo3 != null" >ext_info_3_,</if>
          <if test="extInfo4 != null" >ext_info_4_,</if>
          <if test="extInfo5 != null" >ext_info_5_,</if>
          <if test="extInfo6 != null" >ext_info_6_,</if>
          <if test="createTime != null" >create_time,</if>
          <if test="modifyTime != null" >modify_time,</if>
          <if test="createUserId != null" >create_user_id,</if>
          <if test="createUserName != null" >create_user_name,</if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="model != null" >#{model, jdbcType=VARCHAR},</if>
          <if test="function != null" >#{function, jdbcType=VARCHAR},</if>
          <if test="entrustedUnit != null" >#{entrustedUnit, jdbcType=VARCHAR},</if>
          <if test="peopleNum != null" >#{peopleNum, jdbcType=VARCHAR},</if>
          <if test="dayNum != null" >#{dayNum, jdbcType=VARCHAR},</if>
          <if test="exchangePlace != null" >#{exchangePlace, jdbcType=VARCHAR},</if>
          <if test="participateHost != null" >#{participateHost, jdbcType=VARCHAR},</if>
          <if test="totalPrice != null" >#{totalPrice, jdbcType=DOUBLE},</if>
          <if test="delFlag != null" >#{delFlag, jdbcType=INTEGER},</if>
          <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
          <if test="researchProjectId != null" >#{researchProjectId, jdbcType=VARCHAR},</if>
          <if test="detailType != null" >#{detailType, jdbcType=VARCHAR},</if>
          <if test="name != null" >#{name, jdbcType=VARCHAR},</if>
          <if test="count != null" >#{count, jdbcType=VARCHAR},</if>
          <if test="unit != null" >#{unit, jdbcType=VARCHAR},</if>
          <if test="unitPrice != null" >#{unitPrice, jdbcType=DOUBLE},</if>
          <if test="sort != null" >#{sort, jdbcType=VARCHAR},</if>
          <if test="extInfo1 != null" >#{extInfo1, jdbcType=VARCHAR},</if>
          <if test="extInfo2 != null" >#{extInfo2, jdbcType=VARCHAR},</if>
          <if test="extInfo3 != null" >#{extInfo3, jdbcType=VARCHAR},</if>
          <if test="extInfo4 != null" >#{extInfo4, jdbcType=VARCHAR},</if>
          <if test="extInfo5 != null" >#{extInfo5, jdbcType=VARCHAR},</if>
          <if test="extInfo6 != null" >#{extInfo6, jdbcType=VARCHAR},</if>
          <if test="createTime != null" >#{createTime, jdbcType=TIMESTAMP},</if>
          <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
          <if test="createUserId != null" >#{createUserId, jdbcType=VARCHAR},</if>
          <if test="createUserName != null" >#{createUserName, jdbcType=VARCHAR},</if>
      </trim>
  </insert>
    <!--批量新增-->
    <insert id = "batchInsertSelective">
        INSERT ALL
        <foreach collection = "researchBudgetDetailEOS" item = "item" index = "index">
            <if test = "item.id != null">
                into RS_RESEARCH_BUDGET_DETAIL
                <trim prefix="(" suffix=")" suffixOverrides="," >
                    <if test="item.model != null" >model_,</if>
                    <if test="item.function != null" >function_,</if>
                    <if test="item.entrustedUnit != null" >entrusted_unit_,</if>
                    <if test="item.peopleNum != null" >people_num_,</if>
                    <if test="item.dayNum != null" >day_num_,</if>
                    <if test="item.exchangePlace != null" >exchange_place_,</if>
                    <if test="item.participateHost != null" >participate_host_,</if>
                    <if test="item.totalPrice != null" >total_price_,</if>
                    <if test="item.delFlag != null" >del_flag,</if>
                    <if test="item.id != null" >id_,</if>
                    <if test="item.researchProjectId != null" >research_project_id_,</if>
                    <if test="item.detailType != null" >detail_type_,</if>
                    <if test="item.name != null" >name_,</if>
                    <if test="item.count != null" >count_,</if>
                    <if test="item.unit != null" >unit_,</if>
                    <if test="item.unitPrice != null" >unit_price_,</if>
                    <if test="item.sort != null" >sort_,</if>
                    <if test="item.extInfo1 != null" >ext_info_1_,</if>
                    <if test="item.extInfo2 != null" >ext_info_2_,</if>
                    <if test="item.extInfo3 != null" >ext_info_3_,</if>
                    <if test="item.extInfo4 != null" >ext_info_4_,</if>
                    <if test="item.extInfo5 != null" >ext_info_5_,</if>
                    <if test="item.extInfo6 != null" >ext_info_6_,</if>
                    <if test="item.createTime != null" >create_time,</if>
                    <if test="item.modifyTime != null" >modify_time,</if>
                    <if test="item.createUserId != null" >create_user_id,</if>
                    <if test="item.createUserName != null" >create_user_name,</if>
                </trim>
                <trim prefix="values (" suffix=")" suffixOverrides="," >
                    <if test="item.model != null" >#{item.model, jdbcType=VARCHAR},</if>
                    <if test="item.function != null" >#{item.function, jdbcType=VARCHAR},</if>
                    <if test="item.entrustedUnit != null" >#{item.entrustedUnit, jdbcType=VARCHAR},</if>
                    <if test="item.peopleNum != null" >#{item.peopleNum, jdbcType=VARCHAR},</if>
                    <if test="item.dayNum != null" >#{item.dayNum, jdbcType=VARCHAR},</if>
                    <if test="item.exchangePlace != null" >#{item.exchangePlace, jdbcType=VARCHAR},</if>
                    <if test="item.participateHost != null" >#{item.participateHost, jdbcType=VARCHAR},</if>
                    <if test="item.totalPrice != null" >#{item.totalPrice, jdbcType=DOUBLE},</if>
                    <if test="item.delFlag != null" >#{item.delFlag, jdbcType=INTEGER},</if>
                    <if test="item.id != null" >#{item.id, jdbcType=VARCHAR},</if>
                    <if test="item.researchProjectId != null" >#{item.researchProjectId, jdbcType=VARCHAR},</if>
                    <if test="item.detailType != null" >#{item.detailType, jdbcType=VARCHAR},</if>
                    <if test="item.name != null" >#{item.name, jdbcType=VARCHAR},</if>
                    <if test="item.count != null" >#{item.count, jdbcType=VARCHAR},</if>
                    <if test="item.unit != null" >#{item.unit, jdbcType=VARCHAR},</if>
                    <if test="item.unitPrice != null" >#{item.unitPrice, jdbcType=DOUBLE},</if>
                    <if test="item.sort != null" >#{item.sort, jdbcType=VARCHAR},</if>
                    <if test="item.extInfo1 != null" >#{item.extInfo1, jdbcType=VARCHAR},</if>
                    <if test="item.extInfo2 != null" >#{item.extInfo2, jdbcType=VARCHAR},</if>
                    <if test="item.extInfo3 != null" >#{item.extInfo3, jdbcType=VARCHAR},</if>
                    <if test="item.extInfo4 != null" >#{item.extInfo4, jdbcType=VARCHAR},</if>
                    <if test="item.extInfo5 != null" >#{item.extInfo5, jdbcType=VARCHAR},</if>
                    <if test="item.extInfo6 != null" >#{item.extInfo6, jdbcType=VARCHAR},</if>
                    <if test="item.createTime != null" >#{item.createTime, jdbcType=TIMESTAMP},</if>
                    <if test="item.modifyTime != null" >#{item.modifyTime, jdbcType=TIMESTAMP},</if>
                    <if test="item.createUserId != null" >#{item.createUserId, jdbcType=VARCHAR},</if>
                    <if test="item.createUserName != null" >#{item.createUserName, jdbcType=VARCHAR},</if>
                </trim>
            </if>
        </foreach>
        SELECT 1 FROM dual
    </insert>
    <!-- 根据pk，修改记录-->
    <update id="updateByPrimaryKey" parameterType="com.adc.da.research.project.entity.ResearchBudgetDetailEO" >
    update RS_RESEARCH_BUDGET_DETAIL
       set  model_ = #{model},
            function_ = #{function},
            entrusted_unit_ = #{entrustedUnit},
            people_num_ = #{peopleNum},
            day_num_ = #{dayNum},
            exchange_place_ = #{exchangePlace},
            participate_host_ = #{participateHost},
            total_price_ = #{totalPrice},
            del_flag = #{delFlag},
            research_project_id_ = #{researchProjectId},
            detail_type_ = #{detailType},
            name_ = #{name},
            count_ = #{count},
            unit_ = #{unit},
            unit_price_ = #{unitPrice},
            sort_ = #{sort},
            ext_info_1_ = #{extInfo1},
            ext_info_2_ = #{extInfo2},
            ext_info_3_ = #{extInfo3},
            ext_info_4_ = #{extInfo4},
            ext_info_5_ = #{extInfo5},
            ext_info_6_ = #{extInfo6},
            create_time = #{createTime},
            modify_time = #{modifyTime},
            create_user_id = #{createUserId},
            create_user_name = #{createUserName}
     where  id_ = #{id}
  </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.research.project.entity.ResearchBudgetDetailEO" >
        update RS_RESEARCH_BUDGET_DETAIL
        <set >
            <if test="model != null" >
                model_ = #{model},
            </if>
            <if test="function != null" >
                function_ = #{function},
            </if>
            <if test="entrustedUnit != null" >
                entrusted_unit_ = #{entrustedUnit},
            </if>
            <if test="peopleNum != null" >
                people_num_ = #{peopleNum},
            </if>
            <if test="dayNum != null" >
                day_num_ = #{dayNum},
            </if>
            <if test="exchangePlace != null" >
                exchange_place_ = #{exchangePlace},
            </if>
            <if test="participateHost != null" >
                participate_host_ = #{participateHost},
            </if>
            <if test="totalPrice != null" >
                total_price_ = #{totalPrice},
            </if>
            <if test="delFlag != null" >
                del_flag = #{delFlag},
            </if>
            <if test="researchProjectId != null" >
                research_project_id_ = #{researchProjectId},
            </if>
            <if test="detailType != null" >
                detail_type_ = #{detailType},
            </if>
            <if test="name != null" >
                name_ = #{name},
            </if>
            <if test="count != null" >
                count_ = #{count},
            </if>
            <if test="unit != null" >
                unit_ = #{unit},
            </if>
            <if test="unitPrice != null" >
                unit_price_ = #{unitPrice},
            </if>
            <if test="sort != null" >
                sort_ = #{sort},
            </if>
            <if test="extInfo1 != null" >
                ext_info_1_ = #{extInfo1},
            </if>
            <if test="extInfo2 != null" >
                ext_info_2_ = #{extInfo2},
            </if>
            <if test="extInfo3 != null" >
                ext_info_3_ = #{extInfo3},
            </if>
            <if test="extInfo4 != null" >
                ext_info_4_ = #{extInfo4},
            </if>
            <if test="extInfo5 != null" >
                ext_info_5_ = #{extInfo5},
            </if>
            <if test="extInfo6 != null" >
                ext_info_6_ = #{extInfo6},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId},
            </if>
            <if test="createUserName != null" >
                create_user_name = #{createUserName},
            </if>
        </set>
        where id_ = #{id}
    </update>

    <!-- 根据id查询 RS_RESEARCH_BUDGET_DETAIL -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List" />
        from RS_RESEARCH_BUDGET_DETAIL
        where id_ = #{value}

    </select>

    <!-- 删除记录 -->
    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
        update RS_RESEARCH_BUDGET_DETAIL set  del_flag = 1 where id_ = #{value}
    </update>

  <!-- RS_RESEARCH_BUDGET_DETAIL 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from RS_RESEARCH_BUDGET_DETAIL
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询RS_RESEARCH_BUDGET_DETAIL列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from RS_RESEARCH_BUDGET_DETAIL
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from RS_RESEARCH_BUDGET_DETAIL
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>


    <!-- projectId删除记录 -->
    <delete id="deleteByProjectId" parameterType="java.lang.String">
    delete from RS_RESEARCH_BUDGET_DETAIL
     where research_project_id_ = #{projectId}  and detail_type_ = #{detailType}

  </delete>

    <!-- projectId删除全部记录 -->
    <delete id="deleteAllByProjectId" parameterType="java.lang.String">
    delete from RS_RESEARCH_BUDGET_DETAIL
     where research_project_id_ = #{projectId}

  </delete>

    <delete id="deleteByDetailType" parameterType="java.lang.String">
    delete from RS_RESEARCH_BUDGET_DETAIL
     where research_project_id_ = #{projectId}  and ext_info_3_ = #{extInfo3}

  </delete>
</mapper>
