<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.research.project.dao.ScoreInfoEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.research.project.entity.ScoreInfoEO" >
    <id column="id" property="id" />
    <result column="project_id" property="projectId" />
    <result column="expert_user_id" property="expertUserId" />
    <result column="expert_user_name" property="expertUserName" />
    <result column="grading_rules_id" property="gradingRulesId" />
    <result column="grading_rules_score" property="gradingRulesScore" />
    <result column="state" property="state" />
    <result column="del_flag" property="delFlag" />
    <result column="ext1" property="ext1" />
    <result column="ext2" property="ext2" />
    <result column="ext3" property="ext3" />
    <result column="ext4" property="ext4" />
    <result column="ext5" property="ext5" />
  </resultMap>

  <!-- RS_SCORE_INFO table all fields -->
  <sql id="Base_Column_List" >
     id, project_id, expert_user_id, expert_user_name, grading_rules_id, grading_rules_score, state, del_flag, ext1, ext2, ext3, ext4, ext5
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="projectId != null" >
        and project_id ${projectIdOperator} #{projectId}
      </if>
      <if test="expertUserId != null" >
        and expert_user_id ${expertUserIdOperator} #{expertUserId}
      </if>
      <if test="expertUserName != null" >
        and expert_user_name ${expertUserNameOperator} #{expertUserName}
      </if>
      <if test="gradingRulesId != null" >
        and grading_rules_id ${gradingRulesIdOperator} #{gradingRulesId}
      </if>
      <if test="gradingRulesScore != null" >
        and grading_rules_score ${gradingRulesScoreOperator} #{gradingRulesScore}
      </if>
      <if test="state != null" >
        and state ${stateOperator} #{state}
      </if>
      <if test="delFlag == null" >
        and del_flag =0
      </if>
      <if test="ext1 != null" >
        and ext1 ${ext1Operator} #{ext1}
      </if>
      <if test="ext2 != null" >
        and ext2 ${ext2Operator} #{ext2}
      </if>
      <if test="ext3 != null" >
        and ext3 ${ext3Operator} #{ext3}
      </if>
      <if test="ext4 != null" >
        and ext4 ${ext4Operator} #{ext4}
      </if>
      <if test="ext5 != null" >
        and ext5 ${ext5Operator} #{ext5}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.research.project.entity.ScoreInfoEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_SCORE_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into RS_SCORE_INFO(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{projectId, jdbcType=VARCHAR}, #{expertUserId, jdbcType=VARCHAR}, #{expertUserName, jdbcType=VARCHAR}, #{gradingRulesId, jdbcType=VARCHAR}, #{gradingRulesScore, jdbcType=DOUBLE}, #{state, jdbcType=VARCHAR}, #{delFlag, jdbcType=VARCHAR}, #{ext1, jdbcType=VARCHAR}, #{ext2, jdbcType=VARCHAR}, #{ext3, jdbcType=VARCHAR}, #{ext4, jdbcType=VARCHAR}, #{ext5, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.research.project.entity.ScoreInfoEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_RS_SCORE_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into RS_SCORE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="projectId != null" >project_id,</if>
                <if test="expertUserId != null" >expert_user_id,</if>
                <if test="expertUserName != null" >expert_user_name,</if>
                <if test="gradingRulesId != null" >grading_rules_id,</if>
                <if test="gradingRulesScore != null" >grading_rules_score,</if>
                <if test="state != null" >state,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="ext1 != null" >ext1,</if>
                <if test="ext2 != null" >ext2,</if>
                <if test="ext3 != null" >ext3,</if>
                <if test="ext4 != null" >ext4,</if>
                <if test="ext5 != null" >ext5,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="projectId != null" >#{projectId, jdbcType=VARCHAR},</if>
                <if test="expertUserId != null" >#{expertUserId, jdbcType=VARCHAR},</if>
                <if test="expertUserName != null" >#{expertUserName, jdbcType=VARCHAR},</if>
                <if test="gradingRulesId != null" >#{gradingRulesId, jdbcType=VARCHAR},</if>
                <if test="gradingRulesScore != null" >#{gradingRulesScore, jdbcType=DOUBLE},</if>
                <if test="state != null" >#{state, jdbcType=VARCHAR},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=VARCHAR},</if>
                <if test="ext1 != null" >#{ext1, jdbcType=VARCHAR},</if>
                <if test="ext2 != null" >#{ext2, jdbcType=VARCHAR},</if>
                <if test="ext3 != null" >#{ext3, jdbcType=VARCHAR},</if>
                <if test="ext4 != null" >#{ext4, jdbcType=VARCHAR},</if>
                <if test="ext5 != null" >#{ext5, jdbcType=VARCHAR},</if>
            </trim>
  </insert>
    <!--批量新增-->
    <insert id = "batchInsertSelective">
        INSERT ALL
        <foreach collection = "scoreInfoEOS" item = "item" index = "index">
            <if test = "item.id != null">
                into RS_SCORE_INFO
                <trim prefix="(" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >id,</if>
                    <if test="item.projectId != null" >project_id,</if>
                    <if test="item.expertUserId != null" >expert_user_id,</if>
                    <if test="item.expertUserName != null" >expert_user_name,</if>
                    <if test="item.gradingRulesId != null" >grading_rules_id,</if>
                    <if test="item.gradingRulesScore != null" >grading_rules_score,</if>
                    <if test="item.state != null" >state,</if>
                    <if test="item.delFlag != null" >del_flag,</if>
                    <if test="item.ext1 != null" >ext1,</if>
                    <if test="item.ext2 != null" >ext2,</if>
                    <if test="item.ext3 != null" >ext3,</if>
                    <if test="item.ext4 != null" >ext4,</if>
                    <if test="item.ext5 != null" >ext5,</if>
                </trim>
                <trim prefix="values (" suffix=")" suffixOverrides="," >
                    <if test="item.id != null" >#{item.id, jdbcType=VARCHAR},</if>
                    <if test="item.projectId != null" >#{item.projectId, jdbcType=VARCHAR},</if>
                    <if test="item.expertUserId != null" >#{item.expertUserId, jdbcType=VARCHAR},</if>
                    <if test="item.expertUserName != null" >#{item.expertUserName, jdbcType=VARCHAR},</if>
                    <if test="item.gradingRulesId != null" >#{item.gradingRulesId, jdbcType=VARCHAR},</if>
                    <if test="item.gradingRulesScore != null" >#{item.gradingRulesScore, jdbcType=DOUBLE},</if>
                    <if test="item.state != null" >#{item.state, jdbcType=VARCHAR},</if>
                    <if test="item.delFlag != null" >#{item.delFlag, jdbcType=VARCHAR},</if>
                    <if test="item.ext1 != null" >#{item.ext1, jdbcType=VARCHAR},</if>
                    <if test="item.ext2 != null" >#{item.ext2, jdbcType=VARCHAR},</if>
                    <if test="item.ext3 != null" >#{item.ext3, jdbcType=VARCHAR},</if>
                    <if test="item.ext4 != null" >#{item.ext4, jdbcType=VARCHAR},</if>
                    <if test="item.ext5 != null" >#{item.ext5, jdbcType=VARCHAR},</if>
                </trim>
            </if>
        </foreach>
        SELECT 1 FROM dual
    </insert>
  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.research.project.entity.ScoreInfoEO" >
    update RS_SCORE_INFO
       set  project_id = #{projectId},
            expert_user_id = #{expertUserId},
            expert_user_name = #{expertUserName},
            grading_rules_id = #{gradingRulesId},
            grading_rules_score = #{gradingRulesScore},
            state = #{state},
            del_flag = #{delFlag},
            ext1 = #{ext1},
            ext2 = #{ext2},
            ext3 = #{ext3},
            ext4 = #{ext4},
            ext5 = #{ext5}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.research.project.entity.ScoreInfoEO" >
    update RS_SCORE_INFO
    <set >
      <if test="projectId != null" >
        project_id = #{projectId},
      </if>
      <if test="expertUserId != null" >
        expert_user_id = #{expertUserId},
      </if>
      <if test="expertUserName != null" >
        expert_user_name = #{expertUserName},
      </if>
      <if test="gradingRulesId != null" >
        grading_rules_id = #{gradingRulesId},
      </if>
      <if test="gradingRulesScore != null" >
        grading_rules_score = #{gradingRulesScore},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5},
      </if>
    </set>
     where id = #{id}
  </update>
    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByProjectId" parameterType="com.adc.da.research.project.entity.ScoreInfoEO" >
        update RS_SCORE_INFO
        <set >
            <if test="projectId != null" >
                project_id = #{projectId},
            </if>
            <if test="expertUserId != null" >
                expert_user_id = #{expertUserId},
            </if>
            <if test="expertUserName != null" >
                expert_user_name = #{expertUserName},
            </if>
            <if test="gradingRulesId != null" >
                grading_rules_id = #{gradingRulesId},
            </if>
            <if test="gradingRulesScore != null" >
                grading_rules_score = #{gradingRulesScore},
            </if>
            <if test="state != null" >
                state = #{state},
            </if>
            <if test="delFlag != null" >
                del_flag = #{delFlag},
            </if>
            <if test="ext1 != null" >
                ext1 = #{ext1},
            </if>
            <if test="ext2 != null" >
                ext2 = #{ext2},
            </if>
            <if test="ext3 != null" >
                ext3 = #{ext3},
            </if>
            <if test="ext4 != null" >
                ext4 = #{ext4},
            </if>
            <if test="ext5 != null" >
                ext5 = #{ext5},
            </if>
        </set>
        where project_id = #{projectId} and expert_user_id=#{expertUserId}
    </update>
  <!-- 根据id查询 RS_SCORE_INFO -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from RS_SCORE_INFO
     where id = #{value}

  </select>
    <!-- 根据projectId查询 RS_SCORE_INFO -->
    <select id="queryListByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List" />
        from RS_SCORE_INFO
        where project_id = #{projectId}

    </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RS_SCORE_INFO
     where id = #{value}

  </delete>
    <!-- 删除记录 -->
    <update id="deleteByProjectId" parameterType="java.lang.String">
    update  RS_SCORE_INFO
     set del_flag =1 where  project_id = #{projectId}

  </update>
  <!-- RS_SCORE_INFO 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from RS_SCORE_INFO
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询RS_SCORE_INFO列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from RS_SCORE_INFO
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from RS_SCORE_INFO
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
