<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.adc.da.progress.dao.StageOrderEODao">
    <!-- Result Map-->
    <resultMap id = "BaseResultMap" type = "com.adc.da.progress.entity.StageOrderEO">
        <id column = "id_" property = "id"/>
        <result column = "project_type_" property = "projectType"/>
        <result column = "stage_name_" property = "stageName"/>
        <result column = "level_" property = "level"/>
        <result column = "del_flag_" property = "delFlag"/>
        <result column = "ext_info_1_" property = "extInfo1"/>
        <result column = "ext_info_2_" property = "extInfo2"/>
        <result column = "ext_info_3_" property = "extInfo3"/>
        <result column = "ext_info_4_" property = "extInfo4"/>
        <result column = "ext_info_5_" property = "extInfo5"/>
        <result column = "ext_info_6_" property = "extInfo6"/>
    </resultMap>

    <!-- PR_STAGE_ORDER table all fields -->
    <sql id = "Base_Column_List">
        id_, project_type_, stage_name_, level_, del_flag_, ext_info_1_, ext_info_2_, ext_info_3_, ext_info_4_, ext_info_5_, ext_info_6_
    </sql>

    <!-- 查询条件 -->
    <sql id = "Base_Where_Clause">
        where 1=1 and del_flag_ != '1'
        <trim suffixOverrides = ",">
            <if test = "id != null">
                and id_ ${idOperator} #{id}
            </if>
            <if test = "projectType != null">
                and project_type_ ${projectTypeOperator} #{projectType}
            </if>
            <if test = "stageName != null">
                and stage_name_ ${stageNameOperator} #{stageName}
            </if>
            <if test = "level != null">
                and level_ ${levelOperator} #{level}
            </if>
            <if test = "delFlag != null">
                and del_flag_ ${delFlagOperator} #{delFlag}
            </if>
            <if test = "extInfo1 != null">
                and ext_info_1_ ${extInfo1Operator} #{extInfo1}
            </if>
            <if test = "extInfo2 != null">
                and ext_info_2_ ${extInfo2Operator} #{extInfo2}
            </if>
            <if test = "extInfo3 != null">
                and ext_info_3_ ${extInfo3Operator} #{extInfo3}
            </if>
            <if test = "extInfo4 != null">
                and ext_info_4_ ${extInfo4Operator} #{extInfo4}
            </if>
            <if test = "extInfo5 != null">
                and ext_info_5_ ${extInfo5Operator} #{extInfo5}
            </if>
            <if test = "extInfo6 != null">
                and ext_info_6_ ${extInfo6Operator} #{extInfo6}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id = "insert" parameterType = "com.adc.da.progress.entity.StageOrderEO">
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id_">
            SELECT SEQ_PR_STAGE_ORDER.NEXTVAL FROM DUAL
        </selectKey> -->insert into PR_STAGE_ORDER(<include
            refid = "Base_Column_List"/>) values (#{id, jdbcType=VARCHAR}, #{projectType, jdbcType=VARCHAR}, #{stageName, jdbcType=VARCHAR}, #{level, jdbcType=INTEGER}, #{delFlag, jdbcType=VARCHAR}, #{extInfo1, jdbcType=VARCHAR}, #{extInfo2, jdbcType=VARCHAR}, #{extInfo3, jdbcType=VARCHAR}, #{extInfo4, jdbcType=VARCHAR}, #{extInfo5, jdbcType=VARCHAR}, #{extInfo6, jdbcType=VARCHAR})
    </insert>

    <!-- 动态插入记录 主键是序列 -->
    <insert id = "insertSelective" parameterType = "com.adc.da.progress.entity.StageOrderEO">
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id_">
        SELECT SEQ_PR_STAGE_ORDER.NEXTVAL FROM DUAL
    </selectKey> -->insert into PR_STAGE_ORDER
        <trim prefix = "(" suffix = ")" suffixOverrides = ",">
            <if test = "id != null">id_,</if>
            <if test = "projectType != null">project_type_,</if>
            <if test = "stageName != null">stage_name_,</if>
            <if test = "level != null">level_,</if>
            <if test = "delFlag != null">del_flag_,</if>
            <if test = "extInfo1 != null">ext_info_1_,</if>
            <if test = "extInfo2 != null">ext_info_2_,</if>
            <if test = "extInfo3 != null">ext_info_3_,</if>
            <if test = "extInfo4 != null">ext_info_4_,</if>
            <if test = "extInfo5 != null">ext_info_5_,</if>
            <if test = "extInfo6 != null">ext_info_6_,</if>
        </trim>
        <trim prefix = "values (" suffix = ")" suffixOverrides = ",">
            <if test = "id != null">#{id, jdbcType=VARCHAR},</if>
            <if test = "projectType != null">#{projectType, jdbcType=VARCHAR},</if>
            <if test = "stageName != null">#{stageName, jdbcType=VARCHAR},</if>
            <if test = "level != null">#{level, jdbcType=INTEGER},</if>
            <if test = "delFlag != null">#{delFlag, jdbcType=VARCHAR},</if>
            <if test = "extInfo1 != null">#{extInfo1, jdbcType=VARCHAR},</if>
            <if test = "extInfo2 != null">#{extInfo2, jdbcType=VARCHAR},</if>
            <if test = "extInfo3 != null">#{extInfo3, jdbcType=VARCHAR},</if>
            <if test = "extInfo4 != null">#{extInfo4, jdbcType=VARCHAR},</if>
            <if test = "extInfo5 != null">#{extInfo5, jdbcType=VARCHAR},</if>
            <if test = "extInfo6 != null">#{extInfo6, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!-- 根据pk，修改记录-->
    <update id = "updateByPrimaryKey" parameterType = "com.adc.da.progress.entity.StageOrderEO">
        UPDATE PR_STAGE_ORDER
        SET project_type_ = #{projectType},
            stage_name_   = #{stageName},
            level_        = #{level},
            del_flag_     = #{delFlag},
            ext_info_1_   = #{extInfo1},
            ext_info_2_   = #{extInfo2},
            ext_info_3_   = #{extInfo3},
            ext_info_4_   = #{extInfo4},
            ext_info_5_   = #{extInfo5},
            ext_info_6_   = #{extInfo6}
        WHERE id_ = #{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id = "updateByPrimaryKeySelective" parameterType = "com.adc.da.progress.entity.StageOrderEO">
        update PR_STAGE_ORDER
        <set>
            <if test = "projectType != null">
                project_type_ = #{projectType},
            </if>
            <if test = "stageName != null">
                stage_name_ = #{stageName},
            </if>
            <if test = "level != null">
                level_ = #{level},
            </if>
            <if test = "delFlag != null">
                del_flag_ = #{delFlag},
            </if>
            <if test = "extInfo1 != null">
                ext_info_1_ = #{extInfo1},
            </if>
            <if test = "extInfo2 != null">
                ext_info_2_ = #{extInfo2},
            </if>
            <if test = "extInfo3 != null">
                ext_info_3_ = #{extInfo3},
            </if>
            <if test = "extInfo4 != null">
                ext_info_4_ = #{extInfo4},
            </if>
            <if test = "extInfo5 != null">
                ext_info_5_ = #{extInfo5},
            </if>
            <if test = "extInfo6 != null">
                ext_info_6_ = #{extInfo6},
            </if>
        </set>
        where id_ = #{id}
    </update>

    <!-- 根据id查询 PR_STAGE_ORDER -->
    <select id = "selectByPrimaryKey" resultMap = "BaseResultMap" parameterType = "java.lang.String">
        select
        <include refid = "Base_Column_List"/>
        from PR_STAGE_ORDER where id_ = #{value} and del_flag_ != '1'

    </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from
    PR_STAGE_ORDER
    where id_ = #{value}
  </delete>

    <!-- 逻辑删除记录 -->
    <update id="deleteByPrimaryKeysInFlag" parameterType="java.util.List">
     update PR_STAGE_ORDER set del_flag_ = '1'
     where id_ in
        <foreach item="id_" collection="list" open="(" separator=","
                 close=")" index="index">
            #{id_}
        </foreach>
    </update>


  <!-- PR_STAGE_ORDER 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from PR_STAGE_ORDER
    <include refid="Base_Where_Clause"/>
  </select>

    <!-- 查询PR_STAGE_ORDER列表 -->
    <select id = "queryByPage" resultMap = "BaseResultMap" parameterType = "com.adc.da.base.page.BasePage">
        select
        <include refid = "Base_Column_List"/>
        from (select tmp_tb.* , rownum rn from (select
        <include refid = "Base_Column_List"/>
        from PR_STAGE_ORDER
        <include refid = "Base_Where_Clause"/>
        <if test = "pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        ) tmp_tb where rownum &lt;= ${pager.endIndex}) where rn &gt;= ${pager.startIndex}
    </select>

    <select id = "queryByList" resultMap = "BaseResultMap" parameterType = "com.adc.da.base.page.BasePage">
        select
        <include refid = "Base_Column_List"/>
        from PR_STAGE_ORDER
        <include refid = "Base_Where_Clause"/>
        <if test = "pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
     </select>


    <!-- 根据id查询 PR_STAGE_ORDER -->
    <select id = "selectByLevel" resultMap = "BaseResultMap" parameterType = "java.lang.Integer">
        select
        <include refid = "Base_Column_List"/>
        from PR_STAGE_ORDER where LEVEL_ = #{0} and del_flag_ != '1'

    </select>


</mapper>
