<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.leaderview.dao.JsonTitleEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.leaderview.entity.JsonTitleEO" >
    <id column="id_" property="id" />
    <result column="data_" property="data" />
  </resultMap>

  <!-- ST_JSON_TITLE table all fields -->
  <sql id="Base_Column_List" >
     id_, data_
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id_ ${idOperator} #{id}
      </if>
      <if test="data != null" >
        and data_ ${dataOperator} #{data}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.leaderview.entity.JsonTitleEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id_">
        SELECT SEQ_ST_JSON_TITLE.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into ST_JSON_TITLE(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{data, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.leaderview.entity.JsonTitleEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id_">
        SELECT SEQ_ST_JSON_TITLE.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into ST_JSON_TITLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id_,</if>
                <if test="data != null" >data_,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="data != null" >#{data, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.leaderview.entity.JsonTitleEO" >
    update ST_JSON_TITLE
       set  data_ = #{data}
     where  id_ = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.leaderview.entity.JsonTitleEO" >
    update ST_JSON_TITLE
    <set >
      <if test="data != null" >
        data_ = #{data},
      </if>
    </set>
     where id_ = #{id}
  </update>

  <!-- 根据id查询 ST_JSON_TITLE -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from ST_JSON_TITLE
     where id_ = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ST_JSON_TITLE
     where id_ = #{value}

  </delete>

  <!-- ST_JSON_TITLE 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from ST_JSON_TITLE
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询ST_JSON_TITLE列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from ST_JSON_TITLE
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from ST_JSON_TITLE
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
